module dbus-broker 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class chr_file { read };
    class dbus { acquire_svc send_msg };
    class dir { getattr open read search watch };
    class file { entrypoint execute execute_no_trans getattr ioctl map open read system write };
    class filesystem { getattr };
    class lnk_file { read };
    class process { fork getattr noatsecure rlimitinh siginh transition };
    class security { compute_av };
    class sock_file { write };
    class system { reload status };
    class unix_dgram_socket { connect create getopt sendto setopt write };
    class unix_stream_socket { accept bind connect connectto create getattr getopt listen read setopt write };
    role user_r;
    type bin_t;
    type data_home_t;
    type dbus-broker_exec_t;
    type dbus-broker_t;
    type dbusd_etc_t;
    type default_context_t;
    type etc_t;
    type gconf_home_t;
    type home_root_t;
    type init_t;
    type init_var_run_t;
    type kernel_t;
    type ld_so_cache_t;
    type ld_so_t;
    type lib_t;
    type machineid_t;
    type null_device_t;
    type passwd_file_t;
    type proc_t;
    type root_t;
    type security_t;
    type selinux_config_t;
    type setrans_var_run_t;
    type sysctl_crypto_t;
    type sysctl_kernel_t;
    type sysctl_t;
    type sysfs_t;
    type syslogd_t;
    type syslogd_var_run_t;
    type systemd_hostnamed_t;
    type tmpfs_t;
    type user_home_dir_t;
    type user_t;
    type user_tmp_t;
    type usr_t;
    type var_run_t;
    type var_t;
}
########################################
type dbus-broker_t, application_domain_type;
type dbus-broker_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types dbus-broker_t;
type_transition user_t dbus-broker_exec_t: process dbus-broker_t;
########################################
#============= dbus-broker_t ==============
allow dbus-broker_t bin_t:dir search;
allow dbus-broker_t data_home_t:dir search;
allow dbus-broker_t dbus-broker_exec_t:file { entrypoint execute execute_no_trans map open read };
allow dbus-broker_t dbusd_etc_t:dir { getattr open read search watch };
allow dbus-broker_t dbusd_etc_t:file { open read };
allow dbus-broker_t default_context_t:dir search;
allow dbus-broker_t default_context_t:file { open read };
allow dbus-broker_t etc_t:dir search;
allow dbus-broker_t etc_t:file { getattr open read };
allow dbus-broker_t gconf_home_t:dir search;
allow dbus-broker_t home_root_t:dir search;
allow dbus-broker_t init_var_run_t:dir search;
allow dbus-broker_t kernel_t:unix_dgram_socket sendto;
allow dbus-broker_t ld_so_cache_t:file { getattr map open read };
allow dbus-broker_t ld_so_t:file { execute map open read };
allow dbus-broker_t lib_t:dir { getattr search };
allow dbus-broker_t lib_t:file { execute getattr map open read };
allow dbus-broker_t lib_t:lnk_file read;
allow dbus-broker_t machineid_t:file { open read };
allow dbus-broker_t null_device_t:chr_file read;
allow dbus-broker_t passwd_file_t:file { getattr open read };
allow dbus-broker_t proc_t:dir search;
allow dbus-broker_t proc_t:filesystem getattr;
allow dbus-broker_t proc_t:lnk_file read;
allow dbus-broker_t root_t:dir { getattr search };
allow dbus-broker_t security_t:dir { getattr open read search };
allow dbus-broker_t security_t:file { getattr map open read write };
allow dbus-broker_t security_t:filesystem getattr;
allow dbus-broker_t security_t:security compute_av;
allow dbus-broker_t self:dbus send_msg;
allow dbus-broker_t self:dir search;
allow dbus-broker_t self:lnk_file read;
allow dbus-broker_t self:process fork;
allow dbus-broker_t self:unix_dgram_socket { connect create getopt setopt write };
allow dbus-broker_t self:unix_stream_socket { accept connect connectto create getattr getopt read setopt write };
allow dbus-broker_t selinux_config_t:dir search;
allow dbus-broker_t selinux_config_t:file { getattr open read };
allow dbus-broker_t setrans_var_run_t:dir search;
allow dbus-broker_t sysctl_crypto_t:dir search;
allow dbus-broker_t sysctl_crypto_t:file { getattr open read };
allow dbus-broker_t sysctl_kernel_t:dir search;
allow dbus-broker_t sysctl_kernel_t:file { open read };
allow dbus-broker_t sysctl_t:dir search;
allow dbus-broker_t sysfs_t:dir search;
allow dbus-broker_t syslogd_var_run_t:dir search;
allow dbus-broker_t syslogd_var_run_t:sock_file write;
allow dbus-broker_t tmpfs_t:file { map read write };
allow dbus-broker_t user_home_dir_t:dir search;
allow dbus-broker_t user_t:dbus send_msg;
allow dbus-broker_t user_t:system { reload status };
allow dbus-broker_t user_t:unix_dgram_socket sendto;
allow dbus-broker_t user_t:unix_stream_socket { read write };
allow dbus-broker_t user_tmp_t:dir search;
allow dbus-broker_t user_tmp_t:sock_file write;
allow dbus-broker_t usr_t:dir { getattr open read search watch };
allow dbus-broker_t usr_t:file { open read };
allow dbus-broker_t usr_t:lnk_file read;
allow dbus-broker_t var_run_t:dir search;
allow dbus-broker_t var_run_t:lnk_file read;
allow dbus-broker_t var_t:dir search;
#============= init_t ==============
allow init_t dbus-broker_exec_t:file { execute execute_no_trans map open read };
#============= syslogd_t ==============
allow syslogd_t dbus-broker_t:dir search;
allow syslogd_t dbus-broker_t:file { getattr open read };
allow syslogd_t dbus-broker_t:lnk_file read;
allow syslogd_t dbus-broker_t:process getattr;
#============= systemd_hostnamed_t ==============
allow systemd_hostnamed_t init_t:dbus acquire_svc;
#============= user_t ==============
allow user_t dbus-broker_t:dbus { acquire_svc send_msg };
allow user_t dbus-broker_t:dir search;
allow user_t dbus-broker_t:file { getattr ioctl open read };
allow user_t dbus-broker_t:process { noatsecure rlimitinh siginh transition };
allow user_t dbus-broker_t:unix_stream_socket { bind connectto create listen setopt };
