module dbus-broker 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class dir { search };
    class file { execute execute_no_trans getattr map open read };
    class lnk_file { read };
    class process { getattr sigkill signull transition };
    role system_r;
    type dbus-broker_exec_t;
    type dbus-broker_t;
    type init_t;
    role object_r;
    type syslogd_t;
}
########################################
type dbus-broker_t, application_domain_type;
type dbus-broker_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role system_r types dbus-broker_t;
type_transition init_t dbus-broker_exec_t: process dbus-broker_t;
########################################
#============= init_t ==============
allow init_t dbus-broker_exec_t:file { execute execute_no_trans map open read };
allow init_t dbus-broker_t:process { sigkill signull };
#============= syslogd_t ==============
allow syslogd_t dbus-broker_t:dir search;
allow syslogd_t dbus-broker_t:file { getattr open read };
allow syslogd_t dbus-broker_t:lnk_file read;
allow syslogd_t dbus-broker_t:process getattr;
