module dbus-monitor 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class process { transition };
    role user_r;
    type user_t;
}
########################################
type dbus-monitor_t, application_domain_type;
type dbus-monitor_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types dbus-monitor_t;
type_transition user_t dbus-monitor_exec_t: process dbus-monitor_t;
########################################
require {
	type root_t;
	type setrans_var_run_t;
	type kernel_t;
	type gpg_secret_t;
	type dbus-cleanup-sockets_exec_t;
	type dbus-daemon_exec_t;
	type var_t;
	type dbus-run-session_t;
	type var_run_t;
	type boot_t;
	type local_login_t;
	type systemd_tmpfiles_exec_t;
	type mail_spool_t;
	type user_t;
	type auditd_t;
	type initrc_t;
	type fs_t;
	type devpts_t;
	type dbus-monitor_exec_t;
	type dbus-test-tool_exec_t;
	type var_spool_t;
	type dbus-launch_exec_t;
	type bin_t;
	type cache_home_t;
	type proc_t;
	type init_t;
	type user_tty_device_t;
	type sysctl_kernel_t;
	type dbus-broker_exec_t;
	type dbus-broker_t;
	type lib_t;
	type dbus-launch_t;
	type sysfs_t;
	type dbus-send_t;
	type sysctl_crypto_t;
	type locale_t;
	type ld_so_cache_t;
	type syslogd_t;
	type dbusd_etc_t;
	type dbus-binding-tool_exec_t;
	type xauth_home_t;
	type devtty_t;
	type null_device_t;
	type dbus-run-session_exec_t;
	type passwd_file_t;
	type usr_t;
	type gnome_atspi_exec_t;
	type systemd_logind_t;
	type polkitd_t;
	type systemd_hostnamed_t;
	type security_t;
	type Xorg_exec_t;
	type systemd_tmpfiles_t;
	type selinux_config_t;
	type firewalld_t;
	type dbus-update-activation-environment_t;
	type iptables_t;
	type init_var_run_t;
	type man_t;
	type xauth_t;
	type dbus-send_exec_t;
	type ld_so_t;
	type home_cert_t;
	type ssh_home_t;
	type dbus-uuidgen_exec_t;
	type sysctl_t;
	type unconfined_t;
	type getty_t;
	type dbus-monitor_t;
	type NetworkManager_t;
	type dbus-update-activation-environment_exec_t;
	type shadow_t;
	type mandb_cache_t;
	type device_t;
	type dbus_home_t;
	type home_bin_t;
	type unconfined_service_t;
	type sshd_t;
	type var_lib_t;
	type Xorg_t;
	type etc_t;
	type user_tmp_t;
	class process { noatsecure rlimitinh setpgid siginh transition };
	class dir { add_name create getattr open read remove_name search watch write };
	class file { create entrypoint execute execute_no_trans getattr ioctl lock map open read rename unlink write };
	class capability { fowner net_admin setgid setuid };
	class chr_file { create getattr ioctl read write };
	class lnk_file { create read };
	class filesystem getattr;
	class unix_stream_socket { connect connectto create getattr ioctl read write };
	class fifo_file { create ioctl };
	class sock_file { create write };
	class dbus { acquire_svc send_msg };
	class system { reload status };
	class unix_dgram_socket sendto;
}
#============= dbus-monitor_t ==============
allow dbus-monitor_t dbus-monitor_exec_t:file { entrypoint execute map read };
allow dbus-monitor_t etc_t:dir search;
allow dbus-monitor_t ld_so_cache_t:file { getattr map open read };
allow dbus-monitor_t ld_so_t:file { execute map read };
allow dbus-monitor_t lib_t:dir search;
allow dbus-monitor_t lib_t:file { execute getattr map open read };
allow dbus-monitor_t lib_t:lnk_file read;
allow dbus-monitor_t proc_t:dir search;
allow dbus-monitor_t proc_t:lnk_file read;
allow dbus-monitor_t root_t:dir search;
allow dbus-monitor_t self:dir search;
allow dbus-monitor_t self:lnk_file read;
allow dbus-monitor_t self:unix_stream_socket { connect create getattr read write };
allow dbus-monitor_t sysctl_crypto_t:dir search;
allow dbus-monitor_t sysctl_crypto_t:file { getattr open read };
allow dbus-monitor_t sysctl_t:dir search;
allow dbus-monitor_t user_t:dbus send_msg;
allow dbus-monitor_t user_t:unix_stream_socket connectto;
allow dbus-monitor_t user_tmp_t:dir search;
allow dbus-monitor_t user_tmp_t:sock_file write;
allow dbus-monitor_t user_tty_device_t:chr_file { getattr ioctl read write };
allow dbus-monitor_t usr_t:dir search;
allow dbus-monitor_t var_run_t:dir search;
#============= user_t ==============
allow user_t dbus-monitor_t:process { rlimitinh siginh transition };
