policy_module(vim_home, 1.0.0)
########################################
gen_require(`
    attribute userdom_filetrans_type;
')
type vim_home_t;
userdom_user_home_content(vim_home_t)
ubac_constrained(vim_home_t)
hardhat_userdom_user_home_dir_filetrans(userdom_filetrans_type, vim_home_t, file, ".viminfo")
hardhat_userdom_user_home_dir_filetrans(userdom_filetrans_type, vim_home_t, file, ".vimrc")
########################################
