module hardhat-chkpwd 1.0;
########################################
require {
    class file { execute map };
    type chkpwd_t;
    type hardened-malloc_t;
}
########################################
#============= chkpwd_t ==============
allow chkpwd_t hardened-malloc_t:file { execute map };
