module hardhat-plymouthd 1.0;
########################################
require {
    class file { execute map };
    type hardened-malloc_t;
    type plymouthd_t;
}
########################################
#============= plymouthd_t ==============
allow plymouthd_t hardened-malloc_t:file { execute map };
