module hardhat-chkpwd 1.0;
########################################
require {
    class file { execute map };
    type audit-libs_t;
    type chkpwd_t;
    type glibc_lib_t;
    type hardened-malloc_t;
    type libcap-ng_lib_t;
    type libgcc_lib_t;
    type libstdcpp_lib_t;
    type libxcrypt_lib_t;
    type sssd-client_lib_t;
}
########################################
#============= chkpwd_t ==============
allow chkpwd_t audit-libs_t:file { execute map };
allow chkpwd_t glibc_lib_t:file { execute map };
allow chkpwd_t hardened-malloc_t:file { execute map };
allow chkpwd_t libcap-ng_lib_t:file { execute map };
allow chkpwd_t libstdcpp_lib_t:file { execute map };
allow chkpwd_t libgcc_lib_t:file { execute map };
allow chkpwd_t libxcrypt_lib_t:file { execute map };
allow chkpwd_t sssd-client_lib_t:file { execute map };
