module dbus-binding-tool 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class process { transition };
    role user_r;
    type user_t;
}
########################################
type dbus-binding-tool_t, application_domain_type;
type dbus-binding-tool_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types dbus-binding-tool_t;
type_transition user_t dbus-binding-tool_exec_t: process dbus-binding-tool_t;
########################################
