########################################
interface(`hardhat_auth_read_passwd_file',`
    gen_require(`
        type passwd_file_t;
    ')
    allow $1 passwd_file_t:file { getattr lock open read };
')
########################################
interface(`hardhat_dev_list_sysfs',`
    gen_require(`
        type sysfs_t;
    ')
    allow $1 sysfs_t:dir { getattr lock open read search };
    allow $1 sysfs_t:lnk_file { getattr read };
')
########################################
interface(`hardhat_dev_read_sysfs',`
    gen_require(`
        type sysfs_t;
    ')
    allow $1 sysfs_t:dir { getattr lock open read search };
    allow $1 sysfs_t:file { getattr lock open read };
    allow $1 sysfs_t:lnk_file { getattr read };
')
########################################
interface(`hardhat_dev_rw_dri',`
    gen_require(`
        type device_t, dri_device_t;
    ')
    allow $1 device_t:dir { getattr open read search };
    allow $1 dri_device_t:chr_file { append getattr ioctl lock map open read write };
')
########################################
interface(`hardhat_dev_rw_inherited_input_dev',`
    gen_require(`
        type device_t, event_device_t;
    ')
    allow $1 device_t:dir { getattr open search };
    allow $1 event_device_t:chr_file { append getattr ioctl lock read write };
')
########################################
interface(`hardhat_domain_auto_transition_pattern',`
    allow $1 $2:file { execute execute_no_trans getattr map open read };
    allow $1 $3:process { transition };
    type_transition $1 $2:process $3;
')
#########################################
interface(`hardhat_corecmd_exec_bin',`
    gen_require(`
        attribute base_ro_file_type;
        type bin_t;
    ')
    allow $1 bin_t:dir { getattr read search };
    allow $1 bin_t:file { execute execute_no_trans getattr map open read };
    allow $1 bin_t:lnk_file { getattr read };
    #allow $1 base_ro_file_type:file { execute execute_no_trans getattr map open read };
')
########################################
interface(`hardhat_corecmd_exec_shell',`
    gen_require(`
        type bin_t, shell_exec_t;
    ')
    allow $1 bin_t:dir { getattr lock open read search };
    allow $1 bin_t:lnk_file { getattr read };
    allow $1 shell_exec_t:file { execute execute_no_trans getattr open read };
')
########################################
interface(`hardhat_userdom_list_user_home_dirs', `
    gen_require(`
        type home_root_t, user_home_dir_t;
    ')
    allow $1 home_root_t:dir { getattr open search };
    allow $1 home_root_t:lnk_file { getattr read };
    allow $1 user_home_dir_t:dir { getattr lock open read search };
')
########################################
interface(`hardhat_userdom_manage_tmp_dirs',`
    gen_require(`
        type user_tmp_t;
    ')
    allow $1 user_tmp_t:dir { add_name create getattr link lock open read remove_name rename reparent rmdir search unlink write };
')
########################################
interface(`hardhat_userdom_manage_user_home_content_files',`
    gen_require(`
        type home_root_t, user_home_dir_t, user_home_t;
    ')
    allow $1 home_root_t:dir { getattr open search };
    allow $1 home_root_t:lnk_file { getattr read };
    allow $1 user_home_dir_t:dir { getattr open search };
    allow $1 user_home_t:dir { add_name getattr lock open read remove_name search write };
    allow $1 user_home_t:file { append create getattr link lock open read rename unlink write };
')
########################################
interface(`hardhat_userdom_write_user_tmp_files',`
    gen_require(`
        type user_tmp_t;
    ')
    allow $1 user_tmp_t:dir { getattr open search };
    allow $1 user_tmp_t:file { append getattr lock open write };
')
########################################
