module chromium-browser 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class process { transition };
    role user_r;
    type user_t;
}
########################################
type chromium-browser_t, application_domain_type;
type chromium-browser_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types chromium-browser_t;
type_transition user_t chromium-browser_exec_t: process chromium-browser_t;
########################################
