module polkitd 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class capability { setgid setuid };
    class chr_file { getattr open read write };
    class dbus { acquire_svc send_msg };
    class dir { getattr open read search watch };
    class fd { use };
    class fifo_file { getattr read };
    class file { entrypoint execute execute_no_trans getattr map open read system };
    class filesystem { getattr };
    class lnk_file { getattr read };
    class process { execmem fork getsched rlimitinh setsched siginh signal transition };
    class sock_file { write };
    class unix_dgram_socket { connect create sendto write };
    class unix_stream_socket { connect connectto create read write };
    role system_r;
    type NetworkManager_t;
    type bin_t;
    type cgroup_t;
    type dbus-broker_t;
    type dbus-launch_t;
    type device_t;
    type devicekit_disk_t;
    type devlog_t;
    type etc_t;
    type firewalld_t;
    type init_t;
    type init_var_run_t;
    type kernel_t;
    type ld_so_cache_t;
    type ld_so_t;
    type lib_t;
    type null_device_t;
    type passwd_file_t;
    type policykit_auth_exec_t;
    type policykit_var_lib_t;
    type polkitd_exec_t;
    type polkitd_t;
    type proc_t;
    type root_t;
    type selinux_config_t;
    type sysfs_t;
    type syslogd_t;
    type syslogd_var_run_t;
    type system_dbusd_var_run_t;
    type systemd_logind_sessions_t;
    type systemd_logind_t;
    type systemd_logind_var_run_t;
    type systemd_machined_var_run_t;
    type systemd_userdbd_runtime_t;
    type systemd_userdbd_t;
    type urandom_device_t;
    type usr_t;
    type var_run_t;
    type var_t;
}
########################################
type polkitd_t, application_domain_type;
type polkitd_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role system_r types polkitd_t;
type_transition init_t polkitd_exec_t: process polkitd_t;
########################################
#============= devicekit_disk_t ==============
allow devicekit_disk_t polkitd_t:dbus send_msg;
#============= firewalld_t ==============
allow firewalld_t polkitd_t:dbus send_msg;
#============= init_t ==============
allow init_t polkitd_exec_t:file { execute open read };
allow init_t polkitd_t:dir search;
allow init_t polkitd_t:file { getattr open read };
allow init_t polkitd_t:process { rlimitinh siginh signal transition };
#============= NetworkManager_t ==============
allow NetworkManager_t polkitd_t:dbus send_msg;
#============= polkitd_t ==============
allow polkitd_t bin_t:dir search;
allow polkitd_t cgroup_t:dir search;
allow polkitd_t cgroup_t:filesystem getattr;
allow polkitd_t dbus-broker_t:dbus { acquire_svc send_msg };
allow polkitd_t dbus-launch_t:dbus send_msg;
allow polkitd_t dbus-launch_t:dir search;
allow polkitd_t dbus-launch_t:file { getattr open read };
allow polkitd_t device_t:dir search;
allow polkitd_t devicekit_disk_t:dbus send_msg;
allow polkitd_t devlog_t:lnk_file read;
allow polkitd_t devlog_t:sock_file write;
allow polkitd_t etc_t:dir { getattr open read search watch };
allow polkitd_t etc_t:file { getattr open read };
allow polkitd_t init_t:dbus { acquire_svc send_msg };
allow polkitd_t init_t:dir search;
allow polkitd_t init_t:fd use;
allow polkitd_t init_t:file { getattr open read };
allow polkitd_t init_t:unix_stream_socket { connectto read write };
allow polkitd_t init_var_run_t:dir search;
allow polkitd_t kernel_t:unix_dgram_socket sendto;
allow polkitd_t ld_so_cache_t:file { getattr map open read };
allow polkitd_t ld_so_t:file { execute map read };
allow polkitd_t ld_so_t:file open;
allow polkitd_t lib_t:dir { getattr open read search };
allow polkitd_t lib_t:file { execute getattr map open read };
allow polkitd_t lib_t:lnk_file read;
allow polkitd_t NetworkManager_t:dbus send_msg;
allow polkitd_t null_device_t:chr_file { getattr open read write };
allow polkitd_t passwd_file_t:file { getattr open read };
allow polkitd_t policykit_auth_exec_t:file { execute execute_no_trans map open read };
allow polkitd_t policykit_var_lib_t:dir { getattr open read search watch };
allow polkitd_t polkitd_exec_t:file { entrypoint execute map read };
allow polkitd_t proc_t:dir search;
allow polkitd_t proc_t:file { getattr open read };
allow polkitd_t proc_t:lnk_file read;
allow polkitd_t root_t:dir { getattr search };
allow polkitd_t self:capability { setgid setuid };
allow polkitd_t self:fifo_file { getattr read };
allow polkitd_t self:file { getattr open read };
allow polkitd_t self:lnk_file read;
allow polkitd_t self:process { execmem fork getsched setsched signal };
allow polkitd_t self:unix_dgram_socket { connect create write };
allow polkitd_t self:unix_stream_socket { connect create read write };
allow polkitd_t selinux_config_t:dir search;
allow polkitd_t sysfs_t:dir { getattr open read search };
allow polkitd_t syslogd_var_run_t:dir search;
allow polkitd_t system_dbusd_var_run_t:dir search;
allow polkitd_t system_dbusd_var_run_t:sock_file write;
allow polkitd_t systemd_logind_sessions_t:dir { read search watch };
allow polkitd_t systemd_logind_sessions_t:file { getattr open read };
allow polkitd_t systemd_logind_var_run_t:dir { read watch };
allow polkitd_t systemd_logind_var_run_t:dir search;
allow polkitd_t systemd_logind_var_run_t:file { getattr open read };
allow polkitd_t systemd_machined_var_run_t:dir { read watch };
allow polkitd_t systemd_userdbd_runtime_t:dir { getattr open read search };
allow polkitd_t systemd_userdbd_runtime_t:lnk_file read;
allow polkitd_t systemd_userdbd_runtime_t:sock_file write;
allow polkitd_t systemd_userdbd_t:unix_stream_socket connectto;
allow polkitd_t urandom_device_t:chr_file { open read };
allow polkitd_t usr_t:dir { getattr open read search watch };
allow polkitd_t usr_t:file { getattr open read };
allow polkitd_t usr_t:lnk_file { getattr read };
allow polkitd_t var_run_t:dir search;
allow polkitd_t var_run_t:lnk_file read;
allow polkitd_t var_t:dir search;
#============= syslogd_t ==============
allow syslogd_t polkitd_t:dir search;
allow syslogd_t polkitd_t:file { getattr open read };
allow syslogd_t polkitd_t:lnk_file read;
#============= systemd_logind_t ==============
allow systemd_logind_t polkitd_t:dbus send_msg;
