module hardhat-dbus 1.0;
########################################
require {
    class process { noatsecure rlimitinh siginh };
    type user_dbusd_t;
    type user_t;
}
########################################
#============= user_dbusd_t ==============
allow user_dbusd_t user_t:process { noatsecure rlimitinh siginh };
