
## <summary>policy for zathura</summary>

########################################
## <summary>
##	Execute zathura_exec_t in the zathura domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`zathura_domtrans',`
	gen_require(`
		type zathura_t, zathura_exec_t;
	')
	hardhat_corecmd_search_bin($1)
	hardhat_domtrans_pattern($1, zathura_exec_t, zathura_t)
')
######################################
## <summary>
##	Execute zathura in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`zathura_exec',`
	gen_require(`
		type zathura_exec_t;
	')

	hardhat_corecmd_search_bin($1)
	hardhat_can_exec($1, zathura_exec_t)
')
########################################
## <summary>
##	Execute zathura in the zathura domain, and
##	allow the specified role the zathura domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the zathura domain.
##	</summary>
## </param>
#
interface(`zathura_run',`
	gen_require(`
		type zathura_t;
		attribute_role zathura_roles;
	')
	zathura_domtrans($1)
	roleattribute $2 zathura_roles;
')
########################################
## <summary>
##	Role access for zathura
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`zathura_role',`
	gen_require(`
		type zathura_t;
		attribute_role zathura_roles;
	')
	roleattribute $1 zathura_roles;
	zathura_domtrans($2)
	hardhat_ps_process_pattern($2, zathura_t)
	allow $2 zathura_t:process { signull signal sigkill };
')
