module dbus-test-tool 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class chr_file { getattr ioctl read write };
    class dbus { send_msg };
    class dir { search };
    class file { entrypoint execute getattr map open read };
    class lnk_file { read };
    class process { rlimitinh siginh signal transition };
    class sock_file { write };
    class unix_stream_socket { connect connectto create getattr read write };
    role user_r;
    type dbus-broker_t;
    type dbus-test-tool_exec_t;
    type dbus-test-tool_t;
    type etc_t;
    type ld_so_cache_t;
    type ld_so_t;
    type lib_t;
    type proc_t;
    type root_t;
    type system_dbusd_var_run_t;
    type user_t;
    type user_tmp_t;
    type user_tty_device_t;
    type usr_t;
    type var_run_t;
}
########################################
type dbus-test-tool_t, application_domain_type;
type dbus-test-tool_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types dbus-test-tool_t;
type_transition user_t dbus-test-tool_exec_t: process dbus-test-tool_t;
########################################
#============= dbus-test-tool_t ==============
allow dbus-test-tool_t dbus-broker_t:dbus send_msg;
allow dbus-test-tool_t dbus-broker_t:unix_stream_socket connectto;
allow dbus-test-tool_t dbus-test-tool_exec_t:file { entrypoint execute map read };
allow dbus-test-tool_t etc_t:dir search;
allow dbus-test-tool_t ld_so_cache_t:file { getattr map open read };
allow dbus-test-tool_t ld_so_t:file { execute map read };
allow dbus-test-tool_t lib_t:dir search;
allow dbus-test-tool_t lib_t:file { execute getattr map open read };
allow dbus-test-tool_t lib_t:lnk_file read;
allow dbus-test-tool_t proc_t:dir search;
allow dbus-test-tool_t proc_t:lnk_file read;
allow dbus-test-tool_t root_t:dir search;
allow dbus-test-tool_t self:dir search;
allow dbus-test-tool_t self:lnk_file read;
allow dbus-test-tool_t self:process signal;
allow dbus-test-tool_t self:unix_stream_socket { connect create getattr read write };
allow dbus-test-tool_t system_dbusd_var_run_t:dir search;
allow dbus-test-tool_t system_dbusd_var_run_t:sock_file write;
allow dbus-test-tool_t user_t:dbus send_msg;
allow dbus-test-tool_t user_t:unix_stream_socket connectto;
allow dbus-test-tool_t user_tmp_t:dir search;
allow dbus-test-tool_t user_tmp_t:sock_file write;
allow dbus-test-tool_t user_tty_device_t:chr_file { getattr ioctl read write };
allow dbus-test-tool_t usr_t:dir search;
allow dbus-test-tool_t var_run_t:dir search;
#============= user_t ==============
allow user_t dbus-test-tool_t:process { rlimitinh siginh transition };
