module hardhat-systemd_resolved 1.0.0;
########################################
require {
}
########################################
#============= systemd_resolved_t ==============
