module glibc-langpack-en_label 1.0.0;
########################################
require {
    attribute file_type, non_auth_file_type, non_security_file_type;
}
########################################
type glibc-langpack-en_lib_t, file_type, non_auth_file_type, non_security_file_type;
type glibc-langpack-en_usr_t, file_type, non_auth_file_type, non_security_file_type;
########################################
