module grub2-tools-minimal_label 1.0.0;
########################################
require {
    attribute application_exec_type, base_file_type, base_ro_file_type, configfile, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
}
########################################
type grub2-tools-minimal_bin_t, base_file_type, base_ro_file_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
type grub2-tools-minimal_etc_t, base_file_type, base_ro_file_type, configfile, file_type, non_auth_file_type, non_security_file_type;
type grub2-tools-minimal_sbin_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
type grub2-tools-minimal_usr_t, file_type, non_auth_file_type, non_security_file_type;
########################################
