module hardhat-systemd_hostnamed 1.0.0;
########################################
require {
    class file { execute map };
    type hardened-malloc_t;
    type systemd_hostnamed_t;
}
########################################
#============= systemd_hostnamed_t ==============
allow systemd_hostnamed_t hardened-malloc_t:file { execute map };
