module iputils_label 1.0.0;
########################################
require {
    attribute direct_init_entry, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
}
########################################
type iputils_bin_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type, systemprocess_entry;
type iputils_lib_t, file_type, non_auth_file_type, non_security_file_type, systemd_unit_file_type;
type iputils_sbin_t, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type, direct_init_entry;
type iputils_usr_t, file_type, non_auth_file_type, non_security_file_type;
########################################
