module cracklib_dict_pwd 1.0.0;
########################################
require {
    attribute file_type, non_auth_file_type, non_security_file_type;
}
########################################
type cracklib_dict_pwd_t, file_type, non_auth_file_type, non_security_file_type;
########################################
