module vte291_label 1.0.0;
########################################
require {
    attribute file_type, non_auth_file_type, non_security_file_type;
}
########################################
type vte291_lib_t, file_type, non_auth_file_type, non_security_file_type, systemd_unit_file_type;
type vte291_usr_t, file_type, non_auth_file_type, non_security_file_type;
########################################
