module thunderbird 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type, userdomain, x_userdomain;
    class chr_file { append getattr ioctl map open read write };
    class dbus { send_msg };
    class dir { add_name create getattr open read remove_name rename rmdir search setattr write };
    class fd { use };
    class file { append create entrypoint execute execute_no_trans getattr lock map open read rename setattr system unlink write };
    class filesystem { getattr };
    class lnk_file { create getattr read unlink };
    class netlink_route_socket { bind create getattr nlmsg_read read write };
    class process { execmem fork getattr getsched rlimitinh setsched siginh transition };
    class shm { associate create destroy getattr read unix_read unix_write write };
    class tcp_socket { connect create getattr getopt name_connect read setopt write };
    class udp_socket { connect create getattr };
    class unix_stream_socket { connect connectto create getattr getopt read setopt shutdown write };
    role user_r;
    type bin_t;
    type cache_home_t;
    type cert_t;
    type config_home_t;
    type data_home_t;
    type dri_device_t;
    type etc_t;
    type home_bin_t;
    type home_cert_t;
    type http_port_t;
    type ld_so_cache_t;
    type ld_so_t;
    type lib_t;
    type locale_t;
    type mozilla_home_t;
    type null_device_t;
    type pkcs11_modules_conf_t;
    type pop_port_t;
    type proc_t;
    type root_t;
    type smtp_port_t;
    type systemd_resolved_t;
    type textrel_shlib_t;
    type thunderbird_exec_t;
    type thunderbird_t;
    type tmp_t;
    type tmpfs_t;
    type user_devpts_t;
    type user_fonts_cache_t;
    type user_home_dir_t;
    type user_t;
    type user_tty_device_t;
    type usr_t;
}
########################################
type thunderbird_t, application_domain_type, userdomain, x_userdomain;
type thunderbird_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types thunderbird_t;
type_transition user_t thunderbird_exec_t: process thunderbird_t;
########################################
#============= thunderbird_t ==============
allow thunderbird_t bin_t:dir search;
allow thunderbird_t bin_t:file { execute getattr };
allow thunderbird_t bin_t:lnk_file read;
allow thunderbird_t cache_home_t:dir { create rename rmdir };
allow thunderbird_t cache_home_t:file { create getattr lock map open read rename unlink write };
allow thunderbird_t cert_t:dir { getattr open read search };
allow thunderbird_t cert_t:file { getattr open read };
allow thunderbird_t cert_t:lnk_file read;
allow thunderbird_t config_home_t:file { create getattr map open read rename unlink write };
allow thunderbird_t data_home_t:dir create;
allow thunderbird_t data_home_t:file { create getattr map open read rename setattr unlink write };
allow thunderbird_t dri_device_t:chr_file { getattr ioctl map read write };
allow thunderbird_t etc_t:file { getattr map open read };
allow thunderbird_t etc_t:lnk_file read;
allow thunderbird_t home_bin_t:dir search;
allow thunderbird_t home_bin_t:file { execute getattr };
allow thunderbird_t home_cert_t:dir { getattr read };
allow thunderbird_t http_port_t:tcp_socket name_connect;
allow thunderbird_t ld_so_cache_t:file { getattr map open read };
allow thunderbird_t ld_so_t:file { execute open map read };
allow thunderbird_t lib_t:dir read;
allow thunderbird_t lib_t:file { execute execute_no_trans getattr map open read };
allow thunderbird_t locale_t:dir { getattr open read search };
allow thunderbird_t locale_t:file { getattr map open read };
allow thunderbird_t locale_t:lnk_file { getattr read };
allow thunderbird_t mozilla_home_t:dir { add_name create getattr open read remove_name rmdir search setattr write };
allow thunderbird_t mozilla_home_t:file { append create getattr lock map open read rename setattr unlink write };
allow thunderbird_t mozilla_home_t:lnk_file { create read unlink };
allow thunderbird_t null_device_t:chr_file { append getattr open write };
allow thunderbird_t pkcs11_modules_conf_t:dir { getattr open read search };
allow thunderbird_t pop_port_t:tcp_socket name_connect;
allow thunderbird_t proc_t:dir search;
allow thunderbird_t proc_t:file { getattr open read };
allow thunderbird_t proc_t:lnk_file { getattr read };
allow thunderbird_t root_t:dir search;
allow thunderbird_t self:dir { getattr open read search };
allow thunderbird_t self:file { getattr open read };
allow thunderbird_t self:lnk_file { getattr read };
allow thunderbird_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow thunderbird_t self:process { execmem fork getsched setsched };
allow thunderbird_t self:shm { create destroy read unix_read unix_write write };
allow thunderbird_t self:tcp_socket { connect create getattr getopt read setopt write };
allow thunderbird_t self:udp_socket { connect create getattr };
allow thunderbird_t self:unix_stream_socket { connect create getattr getopt read setopt shutdown write };
allow thunderbird_t smtp_port_t:tcp_socket name_connect;
allow thunderbird_t systemd_resolved_t:dbus send_msg;
allow thunderbird_t textrel_shlib_t:file { execute getattr map open read };
allow thunderbird_t thunderbird_exec_t:file { entrypoint execute getattr map read };
allow thunderbird_t tmp_t:dir { create rmdir };
allow thunderbird_t tmp_t:file { create execute getattr lock map open read unlink write };
allow thunderbird_t tmp_t:lnk_file { create unlink };
allow thunderbird_t tmpfs_t:dir { add_name read remove_name write };
allow thunderbird_t tmpfs_t:file { create map open read unlink write };
allow thunderbird_t tmpfs_t:filesystem getattr;
allow thunderbird_t user_devpts_t:chr_file { append read write };
allow thunderbird_t user_fonts_cache_t:file map;
allow thunderbird_t user_home_dir_t:dir { create rmdir setattr };
allow thunderbird_t user_home_dir_t:file { append create getattr lock map open read rename setattr unlink write };
allow thunderbird_t user_home_dir_t:lnk_file { create unlink };
allow thunderbird_t user_t:unix_stream_socket connectto;
allow thunderbird_t user_tty_device_t:chr_file { append read };
allow thunderbird_t usr_t:dir read;
allow thunderbird_t usr_t:file { getattr map open read };
allow thunderbird_t usr_t:lnk_file read;
#============= user_t ==============
allow user_t thunderbird_t:dir search;
allow user_t thunderbird_t:fd use;
allow user_t thunderbird_t:file { getattr open read };
allow user_t thunderbird_t:lnk_file read;
allow user_t thunderbird_t:process { getattr rlimitinh siginh transition };
allow user_t thunderbird_t:shm { associate getattr read unix_read unix_write write };
