module chromium-browser 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class capability { sys_admin sys_chroot };
    class chr_file { getattr ioctl map open read write };
    class dbus { send_msg };
    class dir { add_name create getattr open read remove_name rename reparent rmdir search setattr write };
    class fd { use };
    class fifo_file { getattr read write };
    class file { append create entrypoint execute execute_no_trans getattr lock map open read rename setattr system unlink write };
    class filesystem { getattr };
    class lnk_file { create getattr read unlink };
    class netlink_kobject_uevent_socket { bind create getattr read setopt };
    class netlink_route_socket { bind create getattr nlmsg_read read write };
    class process { execmem fork getattr getcap getsched rlimitinh setcap setrlimit setsched siginh sigkill signal transition };
    class shm { create destroy unix_read unix_write };
    class sock_file { create getattr unlink write };
    class tcp_socket { connect create getattr getopt name_connect read setopt write };
    class udp_socket { bind connect create getattr read setopt write };
    class unix_dgram_socket { connect create };
    class unix_stream_socket { accept bind connect connectto create getattr getopt listen read setopt shutdown write };
    role user_r;
    type bin_t;
    type cache_home_t;
    type cert_t;
    type chrome_sandbox_exec_t;
    type chrome_sandbox_home_t;
    type config_home_t;
    type device_t;
    type downloads_home_t;
    type dri_device_t;
    type etc_t;
    type fonts_cache_t;
    type fonts_t;
    type gconf_home_t;
    type home_cert_t;
    type home_root_t;
    type http_port_t;
    type ld_so_cache_t;
    type ld_so_t;
    type lib_t;
    type locale_t;
    type null_device_t;
    type passwd_file_t;
    type pkcs11_modules_conf_t;
    type proc_t;
    type pulseaudio_t;
    type root_t;
    type shell_exec_t;
    type sysctl_fs_t;
    type sysctl_kernel_t;
    type sysctl_t;
    type sysfs_t;
    type system_dbusd_t;
    type system_dbusd_var_run_t;
    type systemd_resolved_t;
    type textrel_shlib_t;
    type tmp_t;
    type tmpfs_t;
    type udev_var_run_t;
    type urandom_device_t;
    type user_devpts_t;
    type user_fonts_cache_t;
    type user_home_dir_t;
    type user_home_t;
    type user_t;
    type user_tmp_t;
    type user_tty_device_t;
    type usr_t;
    type var_run_t;
}
########################################
type chromium-browser_t, application_domain_type;
type chromium-browser_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types chromium-browser_t;
type_transition user_t chromium-browser_exec_t: process chromium-browser_t;
########################################
#============= chromium-browser_t ==============
allow chromium-browser_t bin_t:dir { getattr read search };
allow chromium-browser_t bin_t:file { execute execute_no_trans getattr map open read };
allow chromium-browser_t bin_t:lnk_file { getattr read };
allow chromium-browser_t cache_home_t:dir { add_name create getattr read remove_name search write };
allow chromium-browser_t cache_home_t:file { create getattr lock map open read rename unlink write };
allow chromium-browser_t cert_t:dir { getattr open read search };
allow chromium-browser_t cert_t:file { getattr map open read };
allow chromium-browser_t cert_t:lnk_file read;
allow chromium-browser_t chrome_sandbox_exec_t:file { execute execute_no_trans getattr map open read };
allow chromium-browser_t chrome_sandbox_home_t:dir { add_name create getattr open read remove_name rmdir rename reparent search write };
allow chromium-browser_t chrome_sandbox_home_t:file { append create execute getattr lock map open read rename unlink write };
allow chromium-browser_t chrome_sandbox_home_t:lnk_file { create getattr read unlink };
allow chromium-browser_t chromium-browser_exec_t:file { entrypoint execute execute_no_trans getattr open read };
allow chromium-browser_t config_home_t:dir { add_name create getattr read remove_name rename reparent rmdir search write };
allow chromium-browser_t config_home_t:file { append create getattr map lock open read rename unlink write };
allow chromium-browser_t config_home_t:lnk_file { create unlink };
allow chromium-browser_t device_t:dir { getattr open read search };
allow chromium-browser_t downloads_home_t:dir { add_name getattr open read remove_name search write };
allow chromium-browser_t downloads_home_t:file { create getattr open read rename setattr unlink write };
allow chromium-browser_t dri_device_t:chr_file { getattr ioctl map open read write };
allow chromium-browser_t etc_t:dir { getattr read search };
allow chromium-browser_t etc_t:file { getattr map open read };
allow chromium-browser_t etc_t:lnk_file { getattr read };
allow chromium-browser_t fonts_cache_t:dir { search setattr };
allow chromium-browser_t fonts_cache_t:file { getattr map open read };
allow chromium-browser_t fonts_t:dir { getattr open read search };
allow chromium-browser_t fonts_t:file { getattr map open read };
allow chromium-browser_t gconf_home_t:dir search;
allow chromium-browser_t home_cert_t:dir { getattr search };
allow chromium-browser_t home_cert_t:file { append getattr lock open read write };
allow chromium-browser_t home_root_t:dir { getattr search };
allow chromium-browser_t http_port_t:tcp_socket name_connect;
allow chromium-browser_t ld_so_cache_t:file { getattr map open read };
allow chromium-browser_t ld_so_t:file { execute getattr map open read };
allow chromium-browser_t lib_t:dir { getattr open read search };
allow chromium-browser_t lib_t:file { execute execute_no_trans getattr map open read };
allow chromium-browser_t lib_t:lnk_file read;
allow chromium-browser_t locale_t:dir { getattr open read search };
allow chromium-browser_t locale_t:file { getattr map open read };
allow chromium-browser_t locale_t:lnk_file { getattr read };
allow chromium-browser_t null_device_t:chr_file { getattr open read write };
allow chromium-browser_t passwd_file_t:file { getattr open read };
allow chromium-browser_t pkcs11_modules_conf_t:dir { getattr open read search };
allow chromium-browser_t proc_t:dir { getattr open read search };
allow chromium-browser_t proc_t:file { getattr open read };
allow chromium-browser_t proc_t:lnk_file { getattr read };
allow chromium-browser_t pulseaudio_t:fd use;
allow chromium-browser_t root_t:dir { getattr search };
allow chromium-browser_t self:capability { sys_admin sys_chroot };
allow chromium-browser_t self:dir { getattr open read search };
allow chromium-browser_t self:fifo_file { getattr read write };
allow chromium-browser_t self:file { getattr open read write };
allow chromium-browser_t self:lnk_file { getattr read };
allow chromium-browser_t self:netlink_kobject_uevent_socket { bind create getattr read setopt };
allow chromium-browser_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow chromium-browser_t self:process { execmem fork getcap getsched setcap setrlimit setsched sigkill signal };
allow chromium-browser_t self:shm { create destroy unix_read unix_write };
allow chromium-browser_t self:tcp_socket { connect create getattr getopt read setopt write };
allow chromium-browser_t self:udp_socket { bind connect create getattr read setopt write };
allow chromium-browser_t self:unix_dgram_socket { connect create };
allow chromium-browser_t self:unix_stream_socket { accept bind connect connectto create getattr getopt listen read setopt shutdown write };
allow chromium-browser_t shell_exec_t:file { execute map open read };
allow chromium-browser_t sysctl_fs_t:dir search;
allow chromium-browser_t sysctl_fs_t:file { open read };
allow chromium-browser_t sysctl_kernel_t:dir search;
allow chromium-browser_t sysctl_kernel_t:file { getattr read };
allow chromium-browser_t sysctl_t:dir search;
allow chromium-browser_t sysfs_t:dir { getattr open read search };
allow chromium-browser_t sysfs_t:file { getattr open read };
allow chromium-browser_t sysfs_t:lnk_file { getattr read };
allow chromium-browser_t system_dbusd_t:dbus send_msg;
allow chromium-browser_t system_dbusd_t:unix_stream_socket connectto;
allow chromium-browser_t system_dbusd_var_run_t:dir search;
allow chromium-browser_t system_dbusd_var_run_t:sock_file write;
allow chromium-browser_t systemd_resolved_t:dbus send_msg;
allow chromium-browser_t textrel_shlib_t:file { execute getattr map open read };
allow chromium-browser_t tmpfs_t:dir { add_name getattr open read remove_name search write };
allow chromium-browser_t tmpfs_t:file { create getattr map open read write };
allow chromium-browser_t tmpfs_t:filesystem getattr;
allow chromium-browser_t tmpfs_t:file unlink;
allow chromium-browser_t tmp_t:dir { add_name create getattr open read remove_name rmdir search write };
allow chromium-browser_t tmp_t:file { create getattr map open read rename unlink write };
allow chromium-browser_t tmp_t:lnk_file { create getattr read unlink };
allow chromium-browser_t tmp_t:sock_file { create getattr unlink write };
allow chromium-browser_t udev_var_run_t:dir search;
allow chromium-browser_t udev_var_run_t:file { getattr open read };
allow chromium-browser_t urandom_device_t:chr_file { getattr open read };
allow chromium-browser_t user_devpts_t:chr_file { getattr read write };
allow chromium-browser_t user_fonts_cache_t:dir search;
allow chromium-browser_t user_home_dir_t:dir { getattr search };
allow chromium-browser_t user_home_t:dir { getattr read search };
allow chromium-browser_t user_home_t:file create;
allow chromium-browser_t user_t:fd use;
allow chromium-browser_t user_t:fifo_file write;
allow chromium-browser_t user_t:unix_stream_socket connectto;
allow chromium-browser_t user_tmp_t:dir { getattr open read remove_name search write };
allow chromium-browser_t user_tmp_t:file { getattr map read write };
allow chromium-browser_t user_tmp_t:sock_file write;
allow chromium-browser_t user_tty_device_t:chr_file getattr;
allow chromium-browser_t usr_t:dir { getattr open read search };
allow chromium-browser_t usr_t:file { getattr map open read };
allow chromium-browser_t usr_t:lnk_file read;
allow chromium-browser_t var_run_t:dir search;
#============= pulseaudio_t ==============
allow pulseaudio_t chromium-browser_t:fd use;
#============= user_t ==============
allow user_t chromium-browser_exec_t:file { execute getattr open read };
allow user_t chromium-browser_t:dir { getattr search };
allow user_t chromium-browser_t:fd use;
allow user_t chromium-browser_t:fifo_file write;
allow user_t chromium-browser_t:file { getattr open read };
allow user_t chromium-browser_t:lnk_file read;
allow user_t chromium-browser_t:process { getattr rlimitinh siginh signal transition };
