module hardhat-core 1.0.0;
########################################
require {
    class dir { getattr open read search };
    class file { getattr map open read relabelfrom write };
    type thumb_tmp_t;
    type tmp_t;
    type unlabeled_t;
    type user_home_dir_t;
    type user_t;
}
########################################
#============= user_t ==============
allow user_t thumb_tmp_t:dir search;
allow user_t thumb_tmp_t:file open;
allow user_t tmp_t:file { map read write };
#allow user_t unlabeled_t:dir { getattr open read search };
#allow user_t user_home_dir_t:file { getattr relabelfrom };
