policy_module(hardhat-selinux-core, 1.0.0)
########################################
# Required
gen_require(`
    class capability { sys_admin };
    class dbus { acquire_svc };
    class dir { watch };
    class file { execute execute_no_trans getattr map open read relabelfrom write };
    type dbusd_etc_t;
    type tmp_t;
    type user_home_dir_t;
    type user_t;
')
########################################
#============= user_t ==============
# Read the /etc/dbus-1 directory
allow user_t dbusd_etc_t:dir { watch };
# Required to launch setsuid binaries (eg. brave-browser, bwrap, chromium, etc.)
allow user_t self:capability { sys_admin };
# D-Bus
allow user_t self:dbus { acquire_svc };
# Read/write files in /tmp
allow user_t tmp_t:file { map open read write };
# Read, execute, etc. files labeled as user_home_dir_t
allow user_t user_home_dir_t:file { execute execute_no_trans getattr open read relabelfrom };
