module mpv 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class chr_file { append getattr ioctl map open read write };
    class dbus { send_msg };
    class dir { add_name create getattr open read remove_name search setattr write };
    class fd { use };
    class fifo_file { getattr read write };
    class file { create entrypoint execute execute_no_trans getattr lock map open read rename write };
    class lnk_file { getattr read };
    class netlink_route_socket { bind create getattr nlmsg_read read write };
    class process { execmem fork getattr getsched rlimitinh setsched siginh sigkill signal transition };
    class shm { create destroy read unix_read unix_write write };
    class sock_file { write };
    class tcp_socket { connect create getattr getopt name_connect read setopt write };
    class udp_socket { connect create getattr setopt write };
    class unix_stream_socket { connect connectto create getattr getopt read setopt shutdown write };
    role user_r;
    type audio_home_t;
    type bin_t;
    type bzip2-lib_t;
    type cache_home_t;
    type cert_t;
    type config_home_t;
    type dbus-lib_t;
    type desktop_home_t;
    type device_t;
    type downloads_home_t;
    type dri_device_t;
    type etc_t;
    type ffmpeg-lib_t;
    type fonts_cache_t;
    type fonts_t;
    type gconf_home_t;
    type graphite2_lib_t;
    type harfbuzz_lib_t;
    type home_root_t;
    type http_port_t;
    type keyutils-lib_t;
    type krb5-lib_t;
    type ld_so_cache_t;
    type ld_so_t;
    type libICE_lib_t;
    type libSM_lib_t;
    type libX11-xcb_lib_t;
    type libX11_lib_t;
    type libXScrnSaver_lib_t;
    type libXau_lib_t;
    type libXext_lib_t;
    type libXfixes_lib_t;
    type libXi_lib_t;
    type libXinerama_lib_t;
    type libXrandr_lib_t;
    type libXrender_lib_t;
    type libXtst_lib_t;
    type libXv_lib_t;
    type libXxf86vm_lib_t;
    type lib_t;
    type libacl_lib_t;
    type libaom_lib_t;
    type libarchive_lib_t;
    type libass_lib_t;
    type libasyncns_lib_t;
    type libattr_lib_t;
    type libblkid_lib_t;
    type libbluray_lib_t;
    type libbrotli_lib_t;
    type libcaca_lib_t;
    type libcap_lib_t;
    type libcdio-paranoia_lib_t;
    type libcdio_lib_t;
    type libcom_err_lib_t;
    type libdatrie_lib_t;
    type libdav1d_lib_t;
    type libdb_lib_t;
    type libdrm_lib_t;
    type libdvdnav_lib_t;
    type libdvdread_lib_t;
    type libepoxy_lib_t;
    type libffi_lib_t;
    type libgcc_lib_t;
    type libgcrypt_lib_t;
    type libglvnd-egl_lib_t;
    type libglvnd-glx_lib_t;
    type libgomp_lib_t;
    type libgpg-error_lib_t;
    type libicu_lib_t;
    type libidn2_lib_t;
    type libjpeg-turbo_lib_t;
    type libldb_lib_t;
    type libmodplug_lib_t;
    type libmount_lib_t;
    type libmysofa_lib_t;
    type libnsl2_lib_t;
    type libogg_lib_t;
    type libopenmpt_lib_t;
    type libpciaccess_lib_t;
    type libplacebo_lib_t;
    type libpng_lib_t;
    type librsvg2_lib_t;
    type libsamplerate_lib_t;
    type libselinux_lib_t;
    type libshaderc_lib_t;
    type libsmbclient_lib_t;
    type libsndfile_lib_t;
    type libssh_lib_t;
    type libtalloc_lib_t;
    type libtasn1_lib_t;
    type libtdb_lib_t;
    type libtevent_lib_t;
    type libthai_lib_t;
    type libtheora_lib_t;
    type libtirpc_lib_t;
    type libudfread_lib_t;
    type libunistring_lib_t;
    type libuuid_lib_t;
    type libv4l_lib_t;
    type libva_lib_t;
    type libvdpau_lib_t;
    type libvmaf_lib_t;
    type libvorbis_lib_t;
    type libvpx_lib_t;
    type libwayland-client_lib_t;
    type libwayland-cursor_lib_t;
    type libwayland-egl_lib_t;
    type libwayland-server_lib_t;
    type libwbclient_lib_t;
    type libxcb_lib_t;
    type libxcrypt-devel_lib_t;
    type libxcrypt_lib_t;
    type libxkbcommon_lib_t;
    type libxml2_lib_t;
    type libxshmfence_lib_t;
    type libzstd_lib_t;
    type locale_t;
    type lz4-lib_t;
    type ncurses-lib_t;
    type net_conf_t;
    type null_device_t;
    type numactl-lib_t;
    type openjpeg2_lib_t;
    type openssl-lib_t;
    type pango_lib_t;
    type pcre2_lib_t;
    type pcre_lib_t;
    type proc_t;
    type pulseaudio-lib_t;
    type pulseaudio_home_t;
    type pulseaudio_t;
    type python3-lib_t;
    type rav1e-lib_t;
    type root_t;
    type samba-client-lib_t;
    type spirv-tools-lib_t;
    type sysfs_t;
    type system_dbusd_t;
    type system_dbusd_var_run_t;
    type systemd_resolved_t;
    type textrel_shlib_t;
    type tmp_t;
    type tmpfs_t;
    type user_devpts_t;
    type user_home_dir_t;
    type user_home_t;
    type user_t;
    type user_tmp_t;
    type usr_t;
    type vapoursynth-lib_t;
    type var_run_t;
    type x265-lib_t;
    type xz-lib_t;
    type youtube-dl_exec_t;
    type zimg_lib_t;
    type zlib_lib_t;
}
########################################
type mpv_t, application_domain_type;
type mpv_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types mpv_t;
type_transition user_t mpv_exec_t: process mpv_t;
########################################
#============= mpv_t ==============
allow mpv_t audio_home_t:dir { getattr open read search };
allow mpv_t audio_home_t:file { getattr open read };
allow mpv_t bin_t:dir { getattr open read search };
allow mpv_t bin_t:file { execute getattr map open read };
allow mpv_t bin_t:lnk_file read;
allow mpv_t bzip2-lib_t:file { execute getattr map open read };
allow mpv_t bzip2-lib_t:lnk_file read;
allow mpv_t cache_home_t:dir { add_name create getattr open read remove_name search write };
allow mpv_t cache_home_t:file { create getattr lock map open read rename write };
allow mpv_t cert_t:dir { getattr open read search };
allow mpv_t cert_t:file { getattr map open read };
allow mpv_t cert_t:lnk_file read;
allow mpv_t config_home_t:dir { search write };
allow mpv_t config_home_t:file { getattr open read };
allow mpv_t dbus-lib_t:file { execute getattr map open read };
allow mpv_t dbus-lib_t:lnk_file read;
allow mpv_t desktop_home_t:dir search;
allow mpv_t desktop_home_t:file { open read };
allow mpv_t device_t:dir { getattr open read search };
allow mpv_t downloads_home_t:dir search;
allow mpv_t downloads_home_t:file { open read };
allow mpv_t dri_device_t:chr_file { getattr ioctl map open read write };
allow mpv_t etc_t:dir { getattr open read search };
allow mpv_t etc_t:file { getattr open read };
allow mpv_t etc_t:lnk_file read;
allow mpv_t ffmpeg-lib_t:file { execute getattr map open read };
allow mpv_t ffmpeg-lib_t:lnk_file read;
allow mpv_t fonts_cache_t:dir { search setattr };
allow mpv_t fonts_cache_t:file { getattr map open read };
allow mpv_t fonts_t:dir { getattr open read search };
allow mpv_t fonts_t:file { getattr map open read };
allow mpv_t gconf_home_t:dir search;
allow mpv_t graphite2_lib_t:file { execute getattr map open read };
allow mpv_t graphite2_lib_t:lnk_file read;
allow mpv_t harfbuzz_lib_t:file { execute getattr map open read };
allow mpv_t harfbuzz_lib_t:lnk_file read;
allow mpv_t home_root_t:dir search;
allow mpv_t http_port_t:tcp_socket name_connect;
allow mpv_t keyutils-lib_t:file { execute getattr map open read };
allow mpv_t keyutils-lib_t:lnk_file read;
allow mpv_t krb5-lib_t:file { execute getattr map open read };
allow mpv_t krb5-lib_t:lnk_file read;
allow mpv_t ld_so_cache_t:file { getattr map open read };
allow mpv_t ld_so_t:file { execute map open read };
allow mpv_t libacl_lib_t:file { execute getattr map open read };
allow mpv_t libacl_lib_t:lnk_file read;
allow mpv_t libaom_lib_t:file { execute getattr map open read };
allow mpv_t libaom_lib_t:lnk_file read;
allow mpv_t libarchive_lib_t:file { execute getattr map open read };
allow mpv_t libarchive_lib_t:lnk_file read;
allow mpv_t libass_lib_t:file { execute getattr map open read };
allow mpv_t libass_lib_t:lnk_file read;
allow mpv_t libasyncns_lib_t:file { execute getattr map open read };
allow mpv_t libasyncns_lib_t:lnk_file read;
allow mpv_t libattr_lib_t:file { execute getattr map open read };
allow mpv_t libattr_lib_t:lnk_file read;
allow mpv_t libblkid_lib_t:file { execute getattr map open read };
allow mpv_t libblkid_lib_t:lnk_file read;
allow mpv_t libbluray_lib_t:file { execute getattr map open read };
allow mpv_t libbluray_lib_t:lnk_file read;
allow mpv_t libbrotli_lib_t:file { execute getattr map open read };
allow mpv_t libbrotli_lib_t:lnk_file read;
allow mpv_t libcaca_lib_t:file { execute getattr map open read };
allow mpv_t libcaca_lib_t:lnk_file read;
allow mpv_t libcap_lib_t:file { execute getattr map open read };
allow mpv_t libcap_lib_t:lnk_file read;
allow mpv_t libcdio_lib_t:file { execute getattr map open read };
allow mpv_t libcdio_lib_t:lnk_file read;
allow mpv_t libcdio-paranoia_lib_t:file { execute getattr map open read };
allow mpv_t libcdio-paranoia_lib_t:lnk_file read;
allow mpv_t libcom_err_lib_t:file { execute getattr map open read };
allow mpv_t libcom_err_lib_t:lnk_file read;
allow mpv_t libdatrie_lib_t:file { execute getattr map open read };
allow mpv_t libdatrie_lib_t:lnk_file read;
allow mpv_t libdav1d_lib_t:file { execute getattr map open read };
allow mpv_t libdav1d_lib_t:lnk_file read;
allow mpv_t libdb_lib_t:file { execute getattr map open read };
allow mpv_t libdrm_lib_t:file { execute getattr map open read };
allow mpv_t libdrm_lib_t:lnk_file read;
allow mpv_t libdvdnav_lib_t:file { execute getattr map open read };
allow mpv_t libdvdnav_lib_t:lnk_file read;
allow mpv_t libdvdread_lib_t:file { execute getattr map open read };
allow mpv_t libdvdread_lib_t:lnk_file read;
allow mpv_t libepoxy_lib_t:file { execute getattr map open read };
allow mpv_t libepoxy_lib_t:lnk_file read;
allow mpv_t libffi_lib_t:file { execute getattr map open read };
allow mpv_t libffi_lib_t:lnk_file read;
allow mpv_t libgcc_lib_t:file { execute getattr map open read };
allow mpv_t libgcrypt_lib_t:file { execute getattr map open read };
allow mpv_t libgcrypt_lib_t:lnk_file read;
allow mpv_t libglvnd-egl_lib_t:file { execute getattr map open read };
allow mpv_t libglvnd-egl_lib_t:lnk_file read;
allow mpv_t libglvnd-glx_lib_t:file { execute getattr map open read };
allow mpv_t libglvnd-glx_lib_t:lnk_file read;
allow mpv_t libgomp_lib_t:file { execute getattr map open read };
allow mpv_t libgomp_lib_t:lnk_file read;
allow mpv_t libgpg-error_lib_t:file { execute getattr map open read };
allow mpv_t libgpg-error_lib_t:lnk_file read;
allow mpv_t libICE_lib_t:file { execute getattr map open read };
allow mpv_t libICE_lib_t:lnk_file read;
allow mpv_t libicu_lib_t:file { execute getattr map open read };
allow mpv_t libicu_lib_t:lnk_file read;
allow mpv_t libidn2_lib_t:file { execute getattr map open read };
allow mpv_t libidn2_lib_t:lnk_file read;
allow mpv_t libjpeg-turbo_lib_t:file { execute getattr map open read };
allow mpv_t libjpeg-turbo_lib_t:lnk_file read;
allow mpv_t libldb_lib_t:file { execute getattr map open read };
allow mpv_t libldb_lib_t:lnk_file read;
allow mpv_t libmodplug_lib_t:file { execute getattr map open read };
allow mpv_t libmodplug_lib_t:lnk_file read;
allow mpv_t libmount_lib_t:file { execute getattr map open read };
allow mpv_t libmount_lib_t:lnk_file read;
allow mpv_t libmysofa_lib_t:file { execute getattr map open read };
allow mpv_t libmysofa_lib_t:lnk_file read;
allow mpv_t libnsl2_lib_t:file { execute getattr map open read };
allow mpv_t libnsl2_lib_t:lnk_file read;
allow mpv_t libogg_lib_t:file { execute getattr map open read };
allow mpv_t libogg_lib_t:lnk_file read;
allow mpv_t libopenmpt_lib_t:file { execute getattr map open read };
allow mpv_t libopenmpt_lib_t:lnk_file read;
allow mpv_t libpciaccess_lib_t:file { execute getattr map open read };
allow mpv_t libpciaccess_lib_t:lnk_file read;
allow mpv_t libplacebo_lib_t:file { execute getattr map open read };
allow mpv_t libpng_lib_t:file { execute getattr map open read };
allow mpv_t libpng_lib_t:lnk_file read;
allow mpv_t librsvg2_lib_t:file { execute getattr map open read };
allow mpv_t librsvg2_lib_t:lnk_file read;
allow mpv_t libsamplerate_lib_t:file { execute getattr map open read };
allow mpv_t libsamplerate_lib_t:lnk_file read;
allow mpv_t libselinux_lib_t:file { execute getattr map open read };
allow mpv_t libshaderc_lib_t:file { execute getattr map open read };
allow mpv_t libsmbclient_lib_t:file { execute getattr map open read };
allow mpv_t libsmbclient_lib_t:lnk_file read;
allow mpv_t libSM_lib_t:file { execute getattr map open read };
allow mpv_t libSM_lib_t:lnk_file read;
allow mpv_t libsndfile_lib_t:file { execute getattr map open read };
allow mpv_t libsndfile_lib_t:lnk_file read;
allow mpv_t libssh_lib_t:file { execute getattr map open read };
allow mpv_t libssh_lib_t:lnk_file read;
allow mpv_t libtalloc_lib_t:file { execute getattr map open read };
allow mpv_t libtalloc_lib_t:lnk_file read;
allow mpv_t libtasn1_lib_t:file { execute getattr map open read };
allow mpv_t libtasn1_lib_t:lnk_file read;
allow mpv_t libtdb_lib_t:file { execute getattr map open read };
allow mpv_t libtdb_lib_t:lnk_file read;
allow mpv_t lib_t:dir { getattr open read search };
allow mpv_t libtevent_lib_t:file { execute getattr map open read };
allow mpv_t libtevent_lib_t:lnk_file read;
allow mpv_t lib_t:file { execute getattr map open read };
allow mpv_t libthai_lib_t:file { execute getattr map open read };
allow mpv_t libthai_lib_t:lnk_file read;
allow mpv_t libtheora_lib_t:file { execute getattr map open read };
allow mpv_t libtheora_lib_t:lnk_file read;
allow mpv_t libtirpc_lib_t:file { execute getattr map open read };
allow mpv_t lib_t:lnk_file read;
allow mpv_t libudfread_lib_t:file { execute getattr map open read };
allow mpv_t libudfread_lib_t:lnk_file read;
allow mpv_t libunistring_lib_t:file { execute getattr map open read };
allow mpv_t libunistring_lib_t:lnk_file read;
allow mpv_t libuuid_lib_t:file { execute getattr map open read };
allow mpv_t libuuid_lib_t:lnk_file read;
allow mpv_t libv4l_lib_t:file { execute getattr map open read };
allow mpv_t libv4l_lib_t:lnk_file read;
allow mpv_t libva_lib_t:file { execute getattr map open read };
allow mpv_t libva_lib_t:lnk_file read;
allow mpv_t libvdpau_lib_t:file { execute getattr map open read };
allow mpv_t libvdpau_lib_t:lnk_file read;
allow mpv_t libvmaf_lib_t:file { execute getattr map open read };
allow mpv_t libvmaf_lib_t:lnk_file read;
allow mpv_t libvorbis_lib_t:file { execute getattr map open read };
allow mpv_t libvorbis_lib_t:lnk_file read;
allow mpv_t libvpx_lib_t:file { execute getattr map open read };
allow mpv_t libvpx_lib_t:lnk_file read;
allow mpv_t libwayland-client_lib_t:file { execute getattr map open read };
allow mpv_t libwayland-client_lib_t:lnk_file read;
allow mpv_t libwayland-cursor_lib_t:file { execute getattr map open read };
allow mpv_t libwayland-cursor_lib_t:lnk_file read;
allow mpv_t libwayland-egl_lib_t:file { execute getattr map open read };
allow mpv_t libwayland-egl_lib_t:lnk_file read;
allow mpv_t libwayland-server_lib_t:file { execute getattr map open read };
allow mpv_t libwayland-server_lib_t:lnk_file read;
allow mpv_t libwbclient_lib_t:file { execute getattr map open read };
allow mpv_t libX11_lib_t:file { execute getattr map open read };
allow mpv_t libX11_lib_t:lnk_file read;
allow mpv_t libX11-xcb_lib_t:file { execute getattr map open read };
allow mpv_t libX11-xcb_lib_t:lnk_file read;
allow mpv_t libXau_lib_t:file { execute getattr map open read };
allow mpv_t libXau_lib_t:lnk_file read;
allow mpv_t libxcb_lib_t:file { execute getattr map open read };
allow mpv_t libxcb_lib_t:lnk_file read;
allow mpv_t libxcrypt-devel_lib_t:file { execute getattr map open read };
allow mpv_t libxcrypt_lib_t:file { execute getattr map open read };
allow mpv_t libxcrypt_lib_t:lnk_file read;
allow mpv_t libXext_lib_t:file { execute getattr map open read };
allow mpv_t libXext_lib_t:lnk_file read;
allow mpv_t libXfixes_lib_t:file { execute getattr map open read };
allow mpv_t libXfixes_lib_t:lnk_file read;
allow mpv_t libXi_lib_t:file { execute getattr map open read };
allow mpv_t libXi_lib_t:lnk_file read;
allow mpv_t libXinerama_lib_t:file { execute getattr map open read };
allow mpv_t libXinerama_lib_t:lnk_file read;
allow mpv_t libxkbcommon_lib_t:file { execute getattr map open read };
allow mpv_t libxkbcommon_lib_t:lnk_file read;
allow mpv_t libxml2_lib_t:file { execute getattr map open read };
allow mpv_t libxml2_lib_t:lnk_file read;
allow mpv_t libXrandr_lib_t:file { execute getattr map open read };
allow mpv_t libXrandr_lib_t:lnk_file read;
allow mpv_t libXrender_lib_t:file { execute getattr map open read };
allow mpv_t libXrender_lib_t:lnk_file read;
allow mpv_t libXScrnSaver_lib_t:file { execute getattr map open read };
allow mpv_t libXScrnSaver_lib_t:lnk_file read;
allow mpv_t libxshmfence_lib_t:file { execute getattr map open read };
allow mpv_t libxshmfence_lib_t:lnk_file read;
allow mpv_t libXtst_lib_t:file { execute getattr map open read };
allow mpv_t libXtst_lib_t:lnk_file read;
allow mpv_t libXv_lib_t:file { execute getattr map open read };
allow mpv_t libXv_lib_t:lnk_file read;
allow mpv_t libXxf86vm_lib_t:file { execute getattr map open read };
allow mpv_t libXxf86vm_lib_t:lnk_file read;
allow mpv_t libzstd_lib_t:file { execute getattr map open read };
allow mpv_t libzstd_lib_t:lnk_file read;
allow mpv_t locale_t:dir search;
allow mpv_t locale_t:file { getattr map open read };
allow mpv_t locale_t:lnk_file read;
allow mpv_t lz4-lib_t:file { execute getattr map open read };
allow mpv_t lz4-lib_t:lnk_file read;
allow mpv_t mpv_exec_t:file { entrypoint execute getattr map read };
allow mpv_t ncurses-lib_t:file { execute getattr map open read };
allow mpv_t ncurses-lib_t:lnk_file read;
allow mpv_t net_conf_t:file { getattr open read };
allow mpv_t net_conf_t:lnk_file read;
allow mpv_t null_device_t:chr_file { open read write };
allow mpv_t numactl-lib_t:file { execute getattr map open read };
allow mpv_t numactl-lib_t:lnk_file read;
allow mpv_t openjpeg2_lib_t:file { execute getattr map open read };
allow mpv_t openjpeg2_lib_t:lnk_file read;
allow mpv_t openssl-lib_t:file { execute getattr map open read };
allow mpv_t openssl-lib_t:lnk_file read;
allow mpv_t pango_lib_t:file { execute getattr map open read };
allow mpv_t pango_lib_t:lnk_file read;
allow mpv_t pcre2_lib_t:file { execute getattr map open read };
allow mpv_t pcre2_lib_t:lnk_file read;
allow mpv_t pcre_lib_t:file { execute getattr map open read };
allow mpv_t pcre_lib_t:lnk_file read;
allow mpv_t proc_t:dir { getattr search };
allow mpv_t proc_t:file { getattr open read };
allow mpv_t proc_t:lnk_file { getattr read };
allow mpv_t pulseaudio_home_t:dir { read search };
allow mpv_t pulseaudio_home_t:file { lock open read };
allow mpv_t pulseaudio-lib_t:file { execute getattr map open read };
allow mpv_t pulseaudio-lib_t:lnk_file read;
allow mpv_t pulseaudio_t:fd use;
allow mpv_t python3-lib_t:file { execute getattr map open read };
allow mpv_t rav1e-lib_t:file { execute getattr map open read };
allow mpv_t rav1e-lib_t:lnk_file read;
allow mpv_t root_t:dir { getattr search };
allow mpv_t samba-client-lib_t:file { execute getattr map open read };
allow mpv_t samba-client-lib_t:lnk_file read;
allow mpv_t self:dir { getattr search };
allow mpv_t self:fifo_file { getattr read write };
allow mpv_t self:file { getattr open read };
allow mpv_t self:lnk_file { getattr read };
allow mpv_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow mpv_t self:process { execmem fork getsched setsched signal };
allow mpv_t self:shm { create destroy read unix_read unix_write write };
allow mpv_t self:tcp_socket { connect create getattr getopt read setopt write };
allow mpv_t self:udp_socket { connect create getattr setopt write };
allow mpv_t self:unix_stream_socket { connect create getattr getopt read setopt shutdown write };
allow mpv_t spirv-tools-lib_t:file { execute getattr map open read };
allow mpv_t sysfs_t:dir { getattr read open search };
allow mpv_t sysfs_t:file { getattr open read };
allow mpv_t sysfs_t:lnk_file { getattr read };
allow mpv_t system_dbusd_t:dbus send_msg;
allow mpv_t system_dbusd_t:unix_stream_socket connectto;
allow mpv_t system_dbusd_var_run_t:dir search;
allow mpv_t system_dbusd_var_run_t:sock_file write;
allow mpv_t systemd_resolved_t:dbus send_msg;
allow mpv_t textrel_shlib_t:file { execute getattr map open read };
allow mpv_t tmpfs_t:dir { getattr open read search };
allow mpv_t tmpfs_t:file { getattr map read write };
allow mpv_t tmp_t:dir { getattr search };
allow mpv_t user_devpts_t:chr_file { append getattr ioctl read write };
allow mpv_t user_home_dir_t:dir { getattr search };
allow mpv_t user_home_dir_t:file { create getattr open write };
allow mpv_t user_home_t:file { open read };
allow mpv_t user_tmp_t:dir { getattr open read search };
allow mpv_t user_tmp_t:file open;
allow mpv_t user_tmp_t:sock_file write;
allow mpv_t user_t:unix_stream_socket connectto;
allow mpv_t usr_t:dir { getattr open read search };
allow mpv_t usr_t:file { getattr map open read };
allow mpv_t vapoursynth-lib_t:file { execute getattr map open read };
allow mpv_t vapoursynth-lib_t:lnk_file read;
allow mpv_t var_run_t:dir { getattr search };
allow mpv_t x265-lib_t:file { execute getattr map open read };
allow mpv_t xz-lib_t:file { execute getattr map open read };
allow mpv_t xz-lib_t:lnk_file read;
allow mpv_t youtube-dl_exec_t:file { execute execute_no_trans getattr open read };
allow mpv_t zimg_lib_t:file { execute getattr map open read };
allow mpv_t zimg_lib_t:lnk_file read;
allow mpv_t zlib_lib_t:file { execute getattr map open read };
allow mpv_t zlib_lib_t:lnk_file read;
#============= pulseaudio_t ==============
allow pulseaudio_t mpv_t:fd use;
#============= user_t ==============
allow user_t mpv_t:dir {getattr search };
allow user_t mpv_t:fd use;
allow user_t mpv_t:file { getattr open read };
allow user_t mpv_t:lnk_file read;
allow user_t mpv_t:process { getattr rlimitinh siginh sigkill signal transition };
