module hardhat-systemd_logind 1.0.0;
########################################
require {
    class file { execute map };
    type hardened-malloc_t;
    type systemd_logind_t;
}
########################################
#============= systemd_logind_t ==============
allow systemd_logind_t hardened-malloc_t:file { execute map };
