module hardhat-systemd_logind 1.0.0;
########################################
require {
    class file { execute map };
    type audit-libs_t;
    type cryptsetup-libs_t;
    type device-mapper-libs_t;
    type glibc_lib_t;
    type hardened-malloc_t;
    type iptables-libs_t;
    type json-c_lib_t;
    type kmod-libs_t;
    type libacl_lib_t;
    type libargon2_lib_t;
    type libattr_lib_t;
    type libblkid_lib_t;
    type libcap-ng_lib_t;
    type libcap_lib_t;
    type libeconf_lib_t;
    type libffi_lib_t;
    type libgcc_lib_t;
    type libgcrypt_lib_t;
    type libgpg-error_lib_t;
    type libibverbs_lib_t;
    type libidn2_lib_t;
    type libmount_lib_t;
    type libnl3_lib_t;
    type libpcap_lib_t;
    type libseccomp_lib_t;
    type libselinux_lib_t;
    type libstdcpp_lib_t;
    type libunistring_lib_t;
    type libuuid_lib_t;
    type libxcrypt_lib_t;
    type libzstd_lib_t;
    type lz4-libs_t;
    type openssl-libs_t;
    type p11-kit_lib_t;
    type pcre2_lib_t;
    type sssd-client_lib_t;
    type systemd-libs_t;
    type systemd_logind_t;
    type xz-libs_t;
    type zlib_lib_t;
}
########################################
#============= systemd_logind_t ==============
allow systemd_logind_t audit-libs_t:file { execute map };
allow systemd_logind_t cryptsetup-libs_t:file { execute map };
allow systemd_logind_t device-mapper-libs_t:file { execute map };
allow systemd_logind_t glibc_lib_t:file { execute map };
allow systemd_logind_t hardened-malloc_t:file { execute map };
allow systemd_logind_t iptables-libs_t:file { execute map };
allow systemd_logind_t json-c_lib_t:file { execute map };
allow systemd_logind_t kmod-libs_t:file { execute map };
allow systemd_logind_t libacl_lib_t:file { execute map };
allow systemd_logind_t libargon2_lib_t:file { execute map };
allow systemd_logind_t libattr_lib_t:file { execute map };
allow systemd_logind_t libblkid_lib_t:file { execute map };
allow systemd_logind_t libcap-ng_lib_t:file { execute map };
allow systemd_logind_t libcap_lib_t:file { execute map };
allow systemd_logind_t libeconf_lib_t:file { execute map };
allow systemd_logind_t libffi_lib_t:file { execute map };
allow systemd_logind_t libgcc_lib_t:file { execute map };
allow systemd_logind_t libgcrypt_lib_t:file { execute map };
allow systemd_logind_t libgpg-error_lib_t:file { execute map };
allow systemd_logind_t libibverbs_lib_t:file { execute map };
allow systemd_logind_t libidn2_lib_t:file { execute map };
allow systemd_logind_t libmount_lib_t:file { execute map };
allow systemd_logind_t libnl3_lib_t:file { execute map };
allow systemd_logind_t libpcap_lib_t:file { execute map };
allow systemd_logind_t libseccomp_lib_t:file { execute map };
allow systemd_logind_t libselinux_lib_t:file { execute map };
allow systemd_logind_t libstdcpp_lib_t:file { execute map };
allow systemd_logind_t libunistring_lib_t:file { execute map };
allow systemd_logind_t libuuid_lib_t:file { execute map };
allow systemd_logind_t libxcrypt_lib_t:file { execute map };
allow systemd_logind_t libzstd_lib_t:file { execute map };
allow systemd_logind_t lz4-libs_t:file { execute map };
allow systemd_logind_t openssl-libs_t:file { execute map };
allow systemd_logind_t p11-kit_lib_t:file { execute map };
allow systemd_logind_t pcre2_lib_t:file { execute map };
allow systemd_logind_t sssd-client_lib_t:file { execute map };
allow systemd_logind_t systemd-libs_t:file { execute map };
allow systemd_logind_t xz-libs_t:file { execute map };
allow systemd_logind_t zlib_lib_t:file { execute map };
