module hardhat-systemd_userdbd 1.0.0;
########################################
require {
    class file { execute map };
    type hardened-malloc_t;
    type systemd_userdbd_t;
}
########################################
#============= systemd_userdbd_t ==============
allow systemd_userdbd_t hardened-malloc_t:file { execute map };
