module hardhat-systemd_tmpfiles 1.0.0;
########################################
require {
    class file { execute map };
    type hardened-malloc_t;
    type systemd_tmpfiles_t;
}
########################################
#============= systemd_tmpfiles_t ==============
allow systemd_tmpfiles_t hardened-malloc_t:file { execute map };
