module hardhat-systemd_resolved 1.0.0;
########################################
require {
    class file { execute map };
    type audit-libs_t;
    type device-mapper-libs_t;
    type gmp_lib_t;
    type json-c_lib_t;
    type libargon2_lib_t;
    type libattr_lib_t;
    type libcap-ng_lib_t;
    type libeconf_lib_t;
    type libffi_lib_t;
    type libibverbs_lib_t;
    type libnl3_lib_t;
    type libpcap_lib_t;
    type libtasn1_lib_t;
    type libuuid_lib_t;
    type p11-kit-trust_lib_t;
    type pcre2_lib_t;
    type sssd-client_lib_t;
    type systemd-libs_t;
    type systemd_resolved_t;
    type zlib_lib_t;
}
########################################
#============= systemd_resolved_t ==============
allow systemd_resolved_t audit-libs_t:file { execute map };
allow systemd_resolved_t device-mapper-libs_t:file { execute map };
allow systemd_resolved_t gmp_lib_t:file { execute map };
allow systemd_resolved_t json-c_lib_t:file { execute map };
allow systemd_resolved_t libargon2_lib_t:file { execute map };
allow systemd_resolved_t libattr_lib_t:file { execute map };
allow systemd_resolved_t libcap-ng_lib_t:file { execute map };
allow systemd_resolved_t libeconf_lib_t:file { execute map };
allow systemd_resolved_t libffi_lib_t:file { execute map };
allow systemd_resolved_t libibverbs_lib_t:file { execute map };
allow systemd_resolved_t libnl3_lib_t:file { execute map };
allow systemd_resolved_t libpcap_lib_t:file { execute map };
allow systemd_resolved_t libtasn1_lib_t:file { execute map };
allow systemd_resolved_t libuuid_lib_t:file { execute map };
allow systemd_resolved_t p11-kit-trust_lib_t:file { execute map };
allow systemd_resolved_t pcre2_lib_t:file { execute map };
allow systemd_resolved_t sssd-client_lib_t:file { execute map };
allow systemd_resolved_t systemd-libs_t:file { execute map };
allow systemd_resolved_t zlib_lib_t:file { execute map };
