module bwrap 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class process { transition };
    role user_r;
    type user_t;
}
########################################
type bwrap_t, application_domain_type;
type bwrap_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types bwrap_t;
type_transition user_t bwrap_exec_t: process bwrap_t;
########################################
require {
    type passwd_file_t;
    type devpts_t;
    type bash_home_t;
    type lib_t;
    type configfs_t;
    type ld_so_t;
    type bin_t;
    type tmp_t;
    type selinux_config_t;
    type tracefs_t;
    type user_home_t;
    type user_devpts_t;
    type sysfs_t;
    type ld_so_cache_t;
    type pstore_t;
    type var_run_t;
    type shell_exec_t;
    type sssd_var_lib_t;
    type etc_t;
    type root_t;
    type fusefs_t;
    type sysctl_t;
    type sysctl_fs_t;
    type bpf_t;
    type locale_t;
    type debugfs_t;
    type config_home_t;
    type hugetlbfs_t;
    type sysctl_kernel_t;
    type autofs_t;
    type proc_t;
    type dosfs_t;
    type bwrap_exec_t;
    type home_root_t;
    type fs_t;
    type device_t;
    type user_home_dir_t;
    type usr_t;
    type nsfs_t;
    type user_t;
    type security_t;
    type user_tmp_t;
    type tmpfs_t;
    type efivarfs_t;
    type var_t;
    type var_lib_t;
    type cgroup_t;
    class process { fork rlimitinh setcap setpgid siginh transition };
    class file { entrypoint execute execute_no_trans getattr ioctl map open read };
    class chr_file { getattr ioctl read write };
    class lnk_file read;
    class filesystem { getattr mount remount unmount };
    class dir { add_name create getattr mounton open read search write };
    class capability { setpcap setuid sys_admin };
    class unix_stream_socket { connect create read write };
    class fifo_file { getattr read write };
    class sock_file write;
}

#============= bwrap_t ==============
allow bwrap_t autofs_t:filesystem remount;
allow bwrap_t bash_home_t:file { getattr open read };
allow bwrap_t bin_t:dir { getattr open read search };
allow bwrap_t bin_t:file { execute execute_no_trans getattr ioctl map open read };
allow bwrap_t bin_t:lnk_file read;
allow bwrap_t bpf_t:filesystem remount;
allow bwrap_t bwrap_exec_t:file { entrypoint execute map read };
allow bwrap_t cgroup_t:filesystem remount;
allow bwrap_t config_home_t:file { getattr open read };
allow bwrap_t configfs_t:filesystem remount;
allow bwrap_t debugfs_t:filesystem remount;
allow bwrap_t device_t:filesystem remount;
allow bwrap_t devpts_t:filesystem remount;
allow bwrap_t dosfs_t:filesystem remount;
allow bwrap_t efivarfs_t:filesystem remount;
allow bwrap_t etc_t:dir read;
allow bwrap_t etc_t:file { getattr open read };
allow bwrap_t etc_t:lnk_file read;
allow bwrap_t fs_t:filesystem { remount unmount };
allow bwrap_t fusefs_t:filesystem remount;
allow bwrap_t home_root_t:dir { getattr search };
allow bwrap_t hugetlbfs_t:filesystem remount;
allow bwrap_t ld_so_cache_t:file { getattr map open read };
allow bwrap_t ld_so_t:file { execute map open read };
allow bwrap_t lib_t:dir search;
allow bwrap_t lib_t:file { execute getattr map open read };
allow bwrap_t lib_t:lnk_file read;
allow bwrap_t locale_t:dir read;
allow bwrap_t locale_t:file { getattr map open read };
allow bwrap_t nsfs_t:file getattr;
allow bwrap_t passwd_file_t:file { getattr open read };
allow bwrap_t proc_t:dir search;
allow bwrap_t proc_t:file { getattr open read };
allow bwrap_t proc_t:filesystem remount;
allow bwrap_t proc_t:lnk_file read;
allow bwrap_t pstore_t:filesystem remount;
allow bwrap_t root_t:dir { getattr mounton search };
allow bwrap_t security_t:filesystem { getattr remount };
allow bwrap_t self:capability { setpcap setuid sys_admin };
allow bwrap_t self:dir { getattr open read search };
allow bwrap_t self:fifo_file { getattr read write };
allow bwrap_t self:file { getattr open read };
allow bwrap_t self:lnk_file read;
allow bwrap_t self:process { fork setcap setpgid };
allow bwrap_t self:unix_stream_socket { connect create read write };
allow bwrap_t selinux_config_t:dir search;
allow bwrap_t shell_exec_t:file { execute execute_no_trans getattr map open read };
allow bwrap_t sysctl_fs_t:dir search;
allow bwrap_t sysctl_t:dir search;
allow bwrap_t sysctl_kernel_t:dir search;
allow bwrap_t sysctl_kernel_t:file { open read };
allow bwrap_t sysfs_t:filesystem remount;
allow bwrap_t tmp_t:dir mounton;
allow bwrap_t tmpfs_t:dir { add_name create mounton read write };
allow bwrap_t tmpfs_t:filesystem { mount remount unmount };
allow bwrap_t tracefs_t:filesystem remount;
allow bwrap_t tmpfs_t:dir { getattr open search };
allow bwrap_t user_home_dir_t:dir { getattr open search };
allow bwrap_t user_tmp_t:dir search;
allow bwrap_t user_devpts_t:chr_file { getattr ioctl read write };
allow bwrap_t user_home_dir_t:dir read;
allow bwrap_t user_home_t:file { open read };
allow bwrap_t usr_t:dir { getattr search };
allow bwrap_t usr_t:file { getattr open read };
allow bwrap_t var_run_t:lnk_file read;
allow bwrap_t var_lib_t:dir search;
allow bwrap_t var_run_t:dir search;
allow bwrap_t var_t:dir search;
#============= user_t ==============
allow user_t bwrap_t:process { rlimitinh siginh transition };
