policy_module(music_home, 1.0.0)
########################################
gen_require(`
    attribute userdom_filetrans_type;
')
type music_home_t;
userdom_user_home_content(music_home_t)
ubac_constrained(music_home_t)
hardhat_userdom_user_home_dir_filetrans(userdom_filetrans_type, music_home_t, dir, "Music")
########################################
