module pcre2-syntax_label 1.0.0;
########################################
require {
    attribute file_type, non_auth_file_type, non_security_file_type;
}
########################################
type pcre2-syntax_usr_t, file_type, non_auth_file_type, non_security_file_type;
########################################
