module cat 1.0.0;
########################################
require {
    attribute base_file_type, base_ro_file_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
}
########################################
type cat_t, base_file_type, base_ro_file_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
########################################
