module zathura 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type, userdomain, x_userdomain;
    class chr_file { getattr read write };
    class dir { getattr open read search };
    class fd { use };
    class file { entrypoint execute getattr lock map open read write };
    class lnk_file { read };
    class process { fork getattr getsched rlimitinh setsched siginh transition };
    class shm { create };
    class sock_file { write };
    class unix_stream_socket { connect connectto create read write };
    role user_r;
    type bzip2-libs_t;
    type config_home_t;
    type data_home_t;
    type dbus-libs_t;
    type desktop_home_t;
    type documents_home_t;
    type downloads_home_t;
    type dri_device_t;
    type etc_t;
    type file-libs_t;
    type fonts_cache_t;
    type fonts_t;
    type graphite2_lib_t;
    type harfbuzz_lib_t;
    type jbigkit-libs_t;
    type ld_so_cache_t;
    type ld_so_t;
    type libX11_lib_t;
    type libXau_lib_t;
    type libXcomposite_lib_t;
    type libXcursor_lib_t;
    type libXdamage_lib_t;
    type libXext_lib_t;
    type libXfixes_lib_t;
    type libXi_lib_t;
    type libXinerama_lib_t;
    type libXrandr_lib_t;
    type libXrender_lib_t;
    type lib_t;
    type libblkid_lib_t;
    type libbrotli_lib_t;
    type libdatrie_lib_t;
    type libepoxy_lib_t;
    type libffi_lib_t;
    type libgcc_lib_t;
    type libgcrypt_lib_t;
    type libgpg-error_lib_t;
    type libjpeg-turbo_lib_t;
    type libmount_lib_t;
    type libnotify_lib_t;
    type libpng_lib_t;
    type librsvg2_lib_t;
    type libseccomp_lib_t;
    type libselinux_lib_t;
    type libthai_lib_t;
    type libtiff_lib_t;
    type libwayland-client_lib_t;
    type libwayland-cursor_lib_t;
    type libwayland-egl_lib_t;
    type libwebp_lib_t;
    type libxcb_lib_t;
    type libxkbcommon_lib_t;
    type libxml2_lib_t;
    type libzstd_lib_t;
    type locale_t;
    type lz4-libs_t;
    type openjpeg2_lib_t;
    type pango_lib_t;
    type pcre2_lib_t;
    type pcre_lib_t;
    type root_t;
    type sqlite-libs_t;
    type system_dbusd_t;
    type tmpfs_t;
    type user_devpts_t;
    type user_home_t;
    type user_t;
    type user_tmp_t;
    type usr_t;
    type var_run_t;
    type xz-libs_t;
    type zathura-pdf-poppler_lib_t;
    type zlib_lib_t;
}
########################################
type zathura_t, application_domain_type, userdomain, x_userdomain;
type zathura_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types zathura_t;
type_transition user_t zathura_exec_t: process zathura_t;
########################################
#============= user_t ==============
allow user_t zathura_t:dir { getattr search };
allow user_t zathura_t:fd use;
allow user_t zathura_t:file { getattr open read };
allow user_t zathura_t:process { getattr rlimitinh siginh transition };
#============= zathura_t ==============
allow zathura_t bzip2-libs_t:file { execute getattr map open read };
allow zathura_t bzip2-libs_t:lnk_file read;
allow zathura_t config_home_t:file { getattr map open read write };
allow zathura_t data_home_t:dir read;
allow zathura_t data_home_t:file { getattr lock map open read write };
allow zathura_t dbus-libs_t:file { execute getattr map open read };
allow zathura_t dbus-libs_t:lnk_file read;
allow zathura_t desktop_home_t:dir { read search };
allow zathura_t desktop_home_t:file { getattr open read };
allow zathura_t documents_home_t:dir { read search };
allow zathura_t documents_home_t:file { getattr open read };
allow zathura_t downloads_home_t:dir { read search };
allow zathura_t downloads_home_t:file { getattr open read };
allow zathura_t dri_device_t:chr_file { getattr read write };
allow zathura_t etc_t:dir read;
allow zathura_t etc_t:file { getattr map open read };
allow zathura_t etc_t:lnk_file read;
allow zathura_t file-libs_t:file { execute getattr map open read };
allow zathura_t file-libs_t:lnk_file read;
allow zathura_t fonts_cache_t:file { getattr map open read };
allow zathura_t fonts_t:dir read;
allow zathura_t fonts_t:file { getattr map open read };
allow zathura_t graphite2_lib_t:file { execute getattr map open read };
allow zathura_t graphite2_lib_t:lnk_file read;
allow zathura_t harfbuzz_lib_t:file { execute getattr map open read };
allow zathura_t harfbuzz_lib_t:lnk_file read;
allow zathura_t jbigkit-libs_t:file { execute getattr map open read };
allow zathura_t ld_so_cache_t:file { getattr map open read };
allow zathura_t ld_so_t:file { execute map read };
allow zathura_t libblkid_lib_t:file { execute getattr map open read };
allow zathura_t libblkid_lib_t:lnk_file read;
allow zathura_t libbrotli_lib_t:file { execute getattr map open read };
allow zathura_t libbrotli_lib_t:lnk_file read;
allow zathura_t libdatrie_lib_t:file { execute getattr map open read };
allow zathura_t libdatrie_lib_t:lnk_file read;
allow zathura_t libepoxy_lib_t:file { execute getattr map open read };
allow zathura_t libepoxy_lib_t:lnk_file read;
allow zathura_t libffi_lib_t:file { execute getattr map open read };
allow zathura_t libffi_lib_t:lnk_file read;
allow zathura_t libgcc_lib_t:file { execute getattr map open read };
allow zathura_t libgcrypt_lib_t:file { execute getattr map open read };
allow zathura_t libgcrypt_lib_t:lnk_file read;
allow zathura_t libgpg-error_lib_t:file { execute getattr map open read };
allow zathura_t libgpg-error_lib_t:lnk_file read;
allow zathura_t libjpeg-turbo_lib_t:file { execute getattr map open read };
allow zathura_t libjpeg-turbo_lib_t:lnk_file read;
allow zathura_t libmount_lib_t:file { execute getattr map open read };
allow zathura_t libmount_lib_t:lnk_file read;
allow zathura_t libnotify_lib_t:file { execute getattr map open read };
allow zathura_t libnotify_lib_t:lnk_file read;
allow zathura_t libpng_lib_t:file { execute getattr map open read };
allow zathura_t libpng_lib_t:lnk_file read;
allow zathura_t librsvg2_lib_t:file { execute getattr map open read };
allow zathura_t librsvg2_lib_t:lnk_file read;
allow zathura_t libseccomp_lib_t:file { execute getattr map open read };
allow zathura_t libseccomp_lib_t:lnk_file read;
allow zathura_t libselinux_lib_t:file { execute getattr map open read };
allow zathura_t lib_t:dir read;
allow zathura_t lib_t:file { execute getattr map open read };
allow zathura_t libthai_lib_t:file { execute getattr map open read };
allow zathura_t libthai_lib_t:lnk_file read;
allow zathura_t libtiff_lib_t:file { execute getattr map open read };
allow zathura_t libtiff_lib_t:lnk_file read;
allow zathura_t lib_t:lnk_file read;
allow zathura_t libwayland-client_lib_t:file { execute getattr map open read };
allow zathura_t libwayland-client_lib_t:lnk_file read;
allow zathura_t libwayland-cursor_lib_t:file { execute getattr map open read };
allow zathura_t libwayland-cursor_lib_t:lnk_file read;
allow zathura_t libwayland-egl_lib_t:file { execute getattr map open read };
allow zathura_t libwayland-egl_lib_t:lnk_file read;
allow zathura_t libwebp_lib_t:file { execute getattr map open read };
allow zathura_t libwebp_lib_t:lnk_file read;
allow zathura_t libX11_lib_t:lnk_file read;
allow zathura_t libXau_lib_t:file { execute getattr map open read };
allow zathura_t libXau_lib_t:lnk_file read;
allow zathura_t libxcb_lib_t:file { execute getattr map open read };
allow zathura_t libxcb_lib_t:lnk_file read;
allow zathura_t libXcomposite_lib_t:file { execute getattr map open read };
allow zathura_t libXcomposite_lib_t:lnk_file read;
allow zathura_t libXcursor_lib_t:file { execute getattr map open read };
allow zathura_t libXcursor_lib_t:lnk_file read;
allow zathura_t libXdamage_lib_t:file { execute getattr map open read };
allow zathura_t libXdamage_lib_t:lnk_file read;
allow zathura_t libXext_lib_t:file { execute getattr map open read };
allow zathura_t libXext_lib_t:lnk_file read;
allow zathura_t libXfixes_lib_t:file { execute getattr map open read };
allow zathura_t libXfixes_lib_t:lnk_file read;
allow zathura_t libXi_lib_t:file { execute getattr map open read };
allow zathura_t libXi_lib_t:lnk_file read;
allow zathura_t libXinerama_lib_t:file { execute getattr map open read };
allow zathura_t libXinerama_lib_t:lnk_file read;
allow zathura_t libxkbcommon_lib_t:file { execute getattr map open read };
allow zathura_t libxkbcommon_lib_t:lnk_file read;
allow zathura_t libxml2_lib_t:file { execute getattr map open read };
allow zathura_t libxml2_lib_t:lnk_file read;
allow zathura_t libXrandr_lib_t:file { execute getattr map open read };
allow zathura_t libXrandr_lib_t:lnk_file read;
allow zathura_t libXrender_lib_t:file { execute getattr map open read };
allow zathura_t libXrender_lib_t:lnk_file read;
allow zathura_t libzstd_lib_t:file { execute getattr map open read };
allow zathura_t libzstd_lib_t:lnk_file read;
allow zathura_t locale_t:dir { getattr open read search };
allow zathura_t locale_t:file { getattr map open read };
allow zathura_t locale_t:lnk_file read;
allow zathura_t lz4-libs_t:file { execute getattr map open read };
allow zathura_t lz4-libs_t:lnk_file read;
allow zathura_t openjpeg2_lib_t:file { execute getattr map open read };
allow zathura_t openjpeg2_lib_t:lnk_file read;
allow zathura_t pango_lib_t:file { execute getattr map open read };
allow zathura_t pango_lib_t:lnk_file read;
allow zathura_t pcre2_lib_t:file { execute getattr map open read };
allow zathura_t pcre2_lib_t:lnk_file read;
allow zathura_t pcre_lib_t:file { execute getattr map open read };
allow zathura_t pcre_lib_t:lnk_file read;
allow zathura_t root_t:dir { getattr search };
allow zathura_t self:dir search;
allow zathura_t self:lnk_file read;
allow zathura_t self:process { fork getsched setsched };
allow zathura_t self:shm create;
allow zathura_t self:unix_stream_socket { connect create read write };
allow zathura_t sqlite-libs_t:file { execute getattr map open read };
allow zathura_t sqlite-libs_t:lnk_file read;
allow zathura_t system_dbusd_t:unix_stream_socket connectto;
allow zathura_t tmpfs_t:file { map read write };
allow zathura_t user_devpts_t:chr_file { read write };
allow zathura_t user_home_t:dir read;
allow zathura_t user_home_t:file { open read };
allow zathura_t user_tmp_t:sock_file write;
allow zathura_t user_t:unix_stream_socket connectto;
allow zathura_t usr_t:dir read;
allow zathura_t usr_t:file { getattr map open read };
allow zathura_t usr_t:lnk_file read;
allow zathura_t var_run_t:lnk_file read;
allow zathura_t xz-libs_t:file { execute getattr map open read };
allow zathura_t xz-libs_t:lnk_file read;
allow zathura_t zathura_exec_t:file { entrypoint execute map read };
allow zathura_t zathura-pdf-poppler_lib_t:file { execute getattr map open read };
allow zathura_t zlib_lib_t:file { execute getattr map open read };
allow zathura_t zlib_lib_t:lnk_file read;
