module zathura 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type, userdomain, x_userdomain;
    class chr_file { getattr read write };
    class dir { getattr read search };
    class fd { use };
    class file { entrypoint execute getattr lock map open read write };
    class lnk_file { read };
    class process { fork getattr getsched rlimitinh setsched siginh transition };
    class shm { create };
    class sock_file { write };
    class unix_stream_socket { connect connectto create read write };
    role user_r;
    type config_home_t;
    type data_home_t;
    type desktop_home_t;
    type documents_home_t;
    type downloads_home_t;
    type dri_device_t;
    type etc_t;
    type fonts_cache_t;
    type fonts_t;
    type ld_so_cache_t;
    type ld_so_t;
    type lib_t;
    type locale_t;
    type root_t;
    type system_dbusd_t;
    type tmpfs_t;
    type user_devpts_t;
    type user_home_t;
    type user_t;
    type user_tmp_t;
    type usr_t;
    type var_run_t;
}
########################################
type zathura_t, application_domain_type, userdomain, x_userdomain;
type zathura_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types zathura_t;
type_transition user_t zathura_exec_t: process zathura_t;
########################################
#============= user_t ==============
allow user_t zathura_t:dir { getattr search };
allow user_t zathura_t:fd use;
allow user_t zathura_t:file { getattr open read };
allow user_t zathura_t:process { getattr rlimitinh siginh transition };
#============= zathura_t ==============
allow zathura_t config_home_t:file { getattr map open read write };
allow zathura_t data_home_t:dir read;
allow zathura_t data_home_t:file { getattr lock map open read write };
allow zathura_t desktop_home_t:dir { read search };
allow zathura_t desktop_home_t:file { getattr open read };
allow zathura_t documents_home_t:dir { read search };
allow zathura_t documents_home_t:file { getattr open read };
allow zathura_t downloads_home_t:dir { read search };
allow zathura_t downloads_home_t:file { getattr open read };
allow zathura_t dri_device_t:chr_file { getattr read write };
allow zathura_t etc_t:dir read;
allow zathura_t etc_t:file { getattr map open read };
allow zathura_t etc_t:lnk_file read;
allow zathura_t fonts_cache_t:file { getattr map open read };
allow zathura_t fonts_t:dir read;
allow zathura_t fonts_t:file { getattr map open read };
allow zathura_t ld_so_cache_t:file { getattr map open read };
allow zathura_t ld_so_t:file { execute map read };
allow zathura_t lib_t:dir read;
allow zathura_t lib_t:file { execute getattr map open read };
allow zathura_t lib_t:lnk_file read;
allow zathura_t locale_t:lnk_file read;
allow zathura_t root_t:dir { getattr read search };
allow zathura_t self:dir search;
allow zathura_t self:lnk_file read;
allow zathura_t self:process { fork getsched setsched };
allow zathura_t self:shm create;
allow zathura_t self:unix_stream_socket { connect create read write };
allow zathura_t system_dbusd_t:unix_stream_socket connectto;
allow zathura_t tmpfs_t:file { map read write };
allow zathura_t user_devpts_t:chr_file { read write };
allow zathura_t user_home_t:dir read;
allow zathura_t user_home_t:file { open read };
allow zathura_t user_t:unix_stream_socket connectto;
allow zathura_t user_tmp_t:sock_file write;
allow zathura_t usr_t:dir read;
allow zathura_t usr_t:file { getattr map open read };
allow zathura_t usr_t:lnk_file read;
allow zathura_t var_run_t:lnk_file read;
allow zathura_t zathura_exec_t:file { entrypoint execute map read };
