module mpv 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class chr_file { append getattr ioctl map open read write };
    class dbus { send_msg };
    class dir { getattr open read search setattr write };
    class fd { use };
    class fifo_file { getattr read write };
    class file { create entrypoint execute execute_no_trans getattr lock map open read write };
    class lnk_file { getattr read };
    class netlink_route_socket { bind create getattr nlmsg_read read write };
    class process { execmem fork getattr getsched rlimitinh setsched siginh sigkill signal transition };
    class shm { create destroy read unix_read unix_write write };
    class sock_file { write };
    class tcp_socket { connect create getattr getopt name_connect read setopt write };
    class udp_socket { connect create getattr setopt write };
    class unix_stream_socket { connect connectto create getattr getopt read setopt shutdown write };
    role user_r;
    type audio_home_t;
    type bin_t;
    type cache_home_t;
    type cert_t;
    type config_home_t;
    type desktop_home_t;
    type device_t;
    type downloads_home_t;
    type dri_device_t;
    type etc_t;
    type fonts_cache_t;
    type fonts_t;
    type gconf_home_t;
    type home_root_t;
    type http_port_t;
    type ld_so_cache_t;
    type ld_so_t;
    type lib_t;
    type locale_t;
    type net_conf_t;
    type null_device_t;
    type proc_t;
    type pulseaudio_home_t;
    type pulseaudio_t;
    type root_t;
    type sysfs_t;
    type system_dbusd_t;
    type system_dbusd_var_run_t;
    type systemd_resolved_t;
    type textrel_shlib_t;
    type tmp_t;
    type tmpfs_t;
    type user_devpts_t;
    type user_home_dir_t;
    type user_home_t;
    type user_t;
    type user_tmp_t;
    type usr_t;
    type var_run_t;
}
########################################
type mpv_t, application_domain_type;
type mpv_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types mpv_t;
type_transition user_t mpv_exec_t: process mpv_t;
########################################
#============= mpv_t ==============
allow mpv_t audio_home_t:dir { getattr open read search };
allow mpv_t audio_home_t:file { getattr open read };
allow mpv_t bin_t:dir { getattr open read search };
allow mpv_t bin_t:file { execute execute_no_trans getattr map open read };
allow mpv_t bin_t:lnk_file read;
allow mpv_t cache_home_t:dir { getattr search };
allow mpv_t cache_home_t:file { create getattr map open read write };
allow mpv_t cert_t:dir { getattr open read search };
allow mpv_t cert_t:file { getattr map open read };
allow mpv_t cert_t:lnk_file read;
allow mpv_t config_home_t:dir { search write };
allow mpv_t config_home_t:file { getattr open read };
allow mpv_t desktop_home_t:dir search;
allow mpv_t desktop_home_t:file { open read };
allow mpv_t device_t:dir { getattr open read search };
allow mpv_t downloads_home_t:dir search;
allow mpv_t downloads_home_t:file { open read };
allow mpv_t dri_device_t:chr_file { getattr ioctl map open read write };
allow mpv_t etc_t:dir { getattr open read search };
allow mpv_t etc_t:file { getattr open read };
allow mpv_t etc_t:lnk_file read;
allow mpv_t fonts_cache_t:dir { search setattr };
allow mpv_t fonts_cache_t:file { getattr map open read };
allow mpv_t fonts_t:dir { getattr open read search };
allow mpv_t fonts_t:file { getattr map open read };
allow mpv_t gconf_home_t:dir search;
allow mpv_t home_root_t:dir search;
allow mpv_t http_port_t:tcp_socket name_connect;
allow mpv_t ld_so_cache_t:file { getattr map open read };
allow mpv_t ld_so_t:file { execute map open read };
allow mpv_t lib_t:dir { getattr open read search };
allow mpv_t lib_t:file { execute getattr map open read };
allow mpv_t lib_t:lnk_file read;
allow mpv_t locale_t:dir search;
allow mpv_t locale_t:file { getattr map open read };
allow mpv_t locale_t:lnk_file read;
allow mpv_t mpv_exec_t:file { entrypoint execute getattr map read };
allow mpv_t net_conf_t:file { getattr open read };
allow mpv_t net_conf_t:lnk_file read;
allow mpv_t null_device_t:chr_file { open read write };
allow mpv_t proc_t:dir { getattr search };
allow mpv_t proc_t:file { getattr open read };
allow mpv_t proc_t:lnk_file { getattr read };
allow mpv_t pulseaudio_home_t:dir { read search };
allow mpv_t pulseaudio_home_t:file { lock open read };
allow mpv_t pulseaudio_t:fd use;
allow mpv_t root_t:dir { getattr search };
allow mpv_t self:dir { getattr search };
allow mpv_t self:fifo_file { getattr read write };
allow mpv_t self:file { getattr open read };
allow mpv_t self:lnk_file { getattr read };
allow mpv_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow mpv_t self:process { execmem fork getsched setsched signal };
allow mpv_t self:shm { create destroy read unix_read unix_write write };
allow mpv_t self:tcp_socket { connect create getattr getopt read setopt write };
allow mpv_t self:udp_socket { connect create getattr setopt write };
allow mpv_t self:unix_stream_socket { connect create getattr getopt read setopt shutdown write };
allow mpv_t sysfs_t:dir { getattr read open search };
allow mpv_t sysfs_t:file { getattr open read };
allow mpv_t sysfs_t:lnk_file { getattr read };
allow mpv_t system_dbusd_t:dbus send_msg;
allow mpv_t system_dbusd_t:unix_stream_socket connectto;
allow mpv_t system_dbusd_var_run_t:dir search;
allow mpv_t system_dbusd_var_run_t:sock_file write;
allow mpv_t systemd_resolved_t:dbus send_msg;
allow mpv_t textrel_shlib_t:file { execute getattr map open read };
allow mpv_t tmpfs_t:dir { getattr open read search };
allow mpv_t tmpfs_t:file { getattr map read write };
allow mpv_t tmp_t:dir { getattr search };
allow mpv_t user_devpts_t:chr_file { append getattr ioctl read write };
allow mpv_t user_home_dir_t:dir { getattr search };
allow mpv_t user_home_dir_t:file { create getattr open write };
allow mpv_t user_home_t:file { open read };
allow mpv_t user_tmp_t:dir { getattr open read search };
allow mpv_t user_tmp_t:file open;
allow mpv_t user_tmp_t:sock_file write;
allow mpv_t user_t:unix_stream_socket connectto;
allow mpv_t usr_t:dir { getattr open read search };
allow mpv_t usr_t:file { getattr map open read };
allow mpv_t var_run_t:dir { getattr search };
#============= pulseaudio_t ==============
allow pulseaudio_t mpv_t:fd use;
#============= user_t ==============
allow user_t mpv_t:dir {getattr search };
allow user_t mpv_t:fd use;
allow user_t mpv_t:file { getattr open read };
allow user_t mpv_t:lnk_file read;
allow user_t mpv_t:process { getattr rlimitinh siginh sigkill signal transition };
