module dbus-update-activation-environment 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class chr_file { read write };
    class dbus { send_msg };
    class dir { getattr search };
    class file { entrypoint execute getattr map open read };
    class lnk_file { read };
    class process { rlimitinh siginh transition };
    class sock_file { getattr write };
    class system { reload };
    class unix_stream_socket { connect connectto create getattr read write };
    role user_r;
    type etc_t;
    type ld_so_cache_t;
    type ld_so_t;
    type lib_t;
    type proc_t;
    type root_t;
    type sysctl_t;
    type user_t;
    type user_tmp_t;
    type user_tty_device_t;
    type usr_t;
    type var_run_t;
}
########################################
type dbus-update-activation-environment_t, application_domain_type;
type dbus-update-activation-environment_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types dbus-update-activation-environment_t;
type_transition user_t dbus-update-activation-environment_exec_t: process dbus-update-activation-environment_t;
########################################
#============= dbus-update-activation-environment_t ==============
allow dbus-update-activation-environment_t dbus-update-activation-environment_exec_t:file { entrypoint execute map read };
allow dbus-update-activation-environment_t etc_t:dir search;
allow dbus-update-activation-environment_t ld_so_cache_t:file { getattr map open read };
allow dbus-update-activation-environment_t ld_so_t:file { execute map read };
allow dbus-update-activation-environment_t lib_t:dir search;
allow dbus-update-activation-environment_t lib_t:file { execute getattr map open read };
allow dbus-update-activation-environment_t lib_t:lnk_file read;
allow dbus-update-activation-environment_t proc_t:dir search;
allow dbus-update-activation-environment_t proc_t:lnk_file read;
allow dbus-update-activation-environment_t root_t:dir search;
allow dbus-update-activation-environment_t self:lnk_file read;
allow dbus-update-activation-environment_t self:unix_stream_socket { connect create getattr read write };
allow dbus-update-activation-environment_t sysctl_t:dir search;
allow dbus-update-activation-environment_t user_t:dbus send_msg;
allow dbus-update-activation-environment_t user_t:system reload;
allow dbus-update-activation-environment_t user_t:unix_stream_socket connectto;
allow dbus-update-activation-environment_t user_tmp_t:dir { getattr search };
allow dbus-update-activation-environment_t user_tmp_t:sock_file { getattr write };
allow dbus-update-activation-environment_t user_tty_device_t:chr_file { read write };
allow dbus-update-activation-environment_t usr_t:dir search;
allow dbus-update-activation-environment_t var_run_t:dir search;
#============= user_t ==============
allow user_t dbus-update-activation-environment_t:dir search;
allow user_t dbus-update-activation-environment_t:file { getattr open read };
allow user_t dbus-update-activation-environment_t:process { rlimitinh siginh transition };
