module firewalld_label 1.0.0;
########################################
require {
    attribute application_exec_type, base_file_type, base_ro_file_type, configfile, direct_init_entry, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type, sepgsql_module_type, systemprocess_entry;
}
########################################
type firewalld_bin_t, base_file_type, base_ro_file_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
type firewalld_etc_t, configfile, file_type, non_auth_file_type, non_security_file_type;
type firewalld_lib_t, base_file_type, base_ro_file_type, file_type, non_auth_file_type, non_security_file_type, sepgsql_module_type;
type firewalld_sbin_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type, direct_init_entry, systemprocess_entry;
type firewalld_usr_t, file_type, non_auth_file_type, non_security_file_type;
########################################
