policy_module(documents_home, 1.0.0)
########################################
gen_require(`
    attribute userdom_filetrans_type;
')
type documents_home_t;
userdom_user_home_content(documents_home_t)
ubac_constrained(documents_home_t)
hardhat_userdom_user_home_dir_filetrans(userdom_filetrans_type, documents_home_t, dir, "Documents")
########################################
