module dbus_user 1.0;
########################################
require {
    class dir { watch write };
    class file { execute execute_no_trans getattr map open read };
    class process { noatsecure rlimitinh siginh };
    class sock_file { write };
    class unix_stream_socket { connectto };
    type config_home_t;
    type gnome_atspi_exec_t;
    type session_dbusd_tmp_t;
    type system_dbusd_t;
    type user_dbusd_t;
    type user_t;
    type user_tmp_t;
    type xauth_home_t;
}
########################################
#============= system_dbusd_t ==============
allow system_dbusd_t user_tmp_t:sock_file write;
#============= user_dbusd_t ==============
allow user_dbusd_t config_home_t:dir { watch write };
allow user_dbusd_t gnome_atspi_exec_t:file { execute execute_no_trans map open read };
allow user_dbusd_t user_t:process { noatsecure rlimitinh siginh };
allow user_dbusd_t user_t:unix_stream_socket connectto;
allow user_dbusd_t xauth_home_t:file { getattr open read };
#============= user_t ==============
allow user_t session_dbusd_tmp_t:sock_file write;
