module hardhat-core 1.0.0;
########################################
require {
    class file { getattr read relabelfrom write };
    type tmpfs_t;
    type user_home_dir_t;
    type user_t;
}
########################################
#============= user_t ==============
allow user_t tmpfs_t:file { read write };
allow user_t user_home_dir_t:file { getattr relabelfrom };
