module hardhat-core 1.0.0;
########################################
require {
    class file { execute getattr read relabelfrom write };
    type audit-libs_lib_t;
    type chkpwd_t;
    type cryptsetup-libs_lib_t;
    type dbus-libs_lib_t;
    type device-mapper-libs_lib_t;
    type iptables-libs_lib_t;
    type kmod-libs_lib_t;
    type libacl_lib_t;
    type libargon2_lib_t;
    type libattr_lib_t;
    type libblkid_lib_t;
    type libcap-ng_lib_t;
    type libcap_lib_t;
    type libeconf_lib_t;
    type libevent_lib_t;
    type libffi_lib_t;
    type libgcc_lib_t;
    type libgcrypt_lib_t;
    type libgpg-error_lib_t;
    type libibverbs_lib_t;
    type libidn2_lib_t;
    type libmount_lib_t;
    type libnghttp2_lib_t;
    type libnl3_lib_t;
    type libpcap_lib_t;
    type libseccomp_lib_t;
    type libselinux_lib_t;
    type libunistring_lib_t;
    type libuuid_lib_t;
    type libxcrypt_lib_t;
    type libzstd_lib_t;
    type lz4-libs_lib_t;
    type named_t;
    type openssl-libs_lib_t;
    type pcre2_lib_t;
    type plymouth-core-libs_lib_t;
    type plymouthd_t;
    type python3-libs_lib_t;
    type rtkit_daemon_t;
    type systemd_gpt_generator_t;
    type systemd_hostnamed_t;
    type systemd_logind_t;
    type systemd_resolved_t;
    type systemd_tmpfiles_t;
    type systemd_userdbd_t;
    type tmpfs_t;
    type unbound-libs_lib_t;
    type user_dbusd_t;
    type user_home_dir_t;
    type user_t;
    type xz-libs_lib_t;
    type zlib_lib_t;
}
########################################
#============= chkpwd_t ==============
allow chkpwd_t audit-libs_lib_t:file execute;
allow chkpwd_t libcap-ng_lib_t:file execute;
allow chkpwd_t libgcc_lib_t:file execute;
allow chkpwd_t libxcrypt_lib_t:file execute;
#============= named_t ==============
allow named_t libevent_lib_t:file execute;
allow named_t libgcc_lib_t:file execute;
allow named_t libnghttp2_lib_t:file execute;
allow named_t openssl-libs_lib_t:file execute;
allow named_t python3-libs_lib_t:file execute;
allow named_t unbound-libs_lib_t:file execute;
allow named_t zlib_lib_t:file execute;
#============= plymouthd_t ==============
allow plymouthd_t libgcc_lib_t:file execute;
allow plymouthd_t plymouth-core-libs_lib_t:file execute;
#============= rtkit_daemon_t ==============
allow rtkit_daemon_t dbus-libs_lib_t:file execute;
allow rtkit_daemon_t libcap_lib_t:file execute;
allow rtkit_daemon_t libgcc_lib_t:file execute;
allow rtkit_daemon_t libgcrypt_lib_t:file execute;
allow rtkit_daemon_t libgpg-error_lib_t:file execute;
allow rtkit_daemon_t libzstd_lib_t:file execute;
allow rtkit_daemon_t lz4-libs_lib_t:file execute;
allow rtkit_daemon_t xz-libs_lib_t:file execute;
#============= systemd_gpt_generator_t ==============
allow systemd_gpt_generator_t audit-libs_lib_t:file execute;
allow systemd_gpt_generator_t cryptsetup-libs_lib_t:file execute;
allow systemd_gpt_generator_t device-mapper-libs_lib_t:file execute;
allow systemd_gpt_generator_t iptables-libs_lib_t:file execute;
allow systemd_gpt_generator_t kmod-libs_lib_t:file execute;
allow systemd_gpt_generator_t libacl_lib_t:file execute;
allow systemd_gpt_generator_t libargon2_lib_t:file execute;
allow systemd_gpt_generator_t libattr_lib_t:file execute;
allow systemd_gpt_generator_t libblkid_lib_t:file execute;
allow systemd_gpt_generator_t libcap_lib_t:file execute;
allow systemd_gpt_generator_t libcap-ng_lib_t:file execute;
allow systemd_gpt_generator_t libeconf_lib_t:file execute;
allow systemd_gpt_generator_t libffi_lib_t:file execute;
allow systemd_gpt_generator_t libgcc_lib_t:file execute;
allow systemd_gpt_generator_t libgcrypt_lib_t:file execute;
allow systemd_gpt_generator_t libgpg-error_lib_t:file execute;
allow systemd_gpt_generator_t libibverbs_lib_t:file execute;
allow systemd_gpt_generator_t libidn2_lib_t:file execute;
allow systemd_gpt_generator_t libmount_lib_t:file execute;
allow systemd_gpt_generator_t libnl3_lib_t:file execute;
allow systemd_gpt_generator_t libpcap_lib_t:file execute;
allow systemd_gpt_generator_t libseccomp_lib_t:file execute;
allow systemd_gpt_generator_t libselinux_lib_t:file execute;
allow systemd_gpt_generator_t libunistring_lib_t:file execute;
allow systemd_gpt_generator_t libuuid_lib_t:file execute;
allow systemd_gpt_generator_t libxcrypt_lib_t:file execute;
allow systemd_gpt_generator_t libzstd_lib_t:file execute;
allow systemd_gpt_generator_t lz4-libs_lib_t:file execute;
allow systemd_gpt_generator_t openssl-libs_lib_t:file execute;
allow systemd_gpt_generator_t pcre2_lib_t:file execute;
allow systemd_gpt_generator_t xz-libs_lib_t:file execute;
allow systemd_gpt_generator_t zlib_lib_t:file execute;
#============= systemd_hostnamed_t ==============
allow systemd_hostnamed_t audit-libs_lib_t:file execute;
allow systemd_hostnamed_t cryptsetup-libs_lib_t:file execute;
allow systemd_hostnamed_t device-mapper-libs_lib_t:file execute;
allow systemd_hostnamed_t iptables-libs_lib_t:file execute;
allow systemd_hostnamed_t kmod-libs_lib_t:file execute;
allow systemd_hostnamed_t libacl_lib_t:file execute;
allow systemd_hostnamed_t libargon2_lib_t:file execute;
allow systemd_hostnamed_t libattr_lib_t:file execute;
allow systemd_hostnamed_t libblkid_lib_t:file execute;
allow systemd_hostnamed_t libcap_lib_t:file execute;
allow systemd_hostnamed_t libcap-ng_lib_t:file execute;
allow systemd_hostnamed_t libeconf_lib_t:file execute;
allow systemd_hostnamed_t libffi_lib_t:file execute;
allow systemd_hostnamed_t libgcc_lib_t:file execute;
allow systemd_hostnamed_t libgcrypt_lib_t:file execute;
allow systemd_hostnamed_t libgpg-error_lib_t:file execute;
allow systemd_hostnamed_t libibverbs_lib_t:file execute;
allow systemd_hostnamed_t libidn2_lib_t:file execute;
allow systemd_hostnamed_t libmount_lib_t:file execute;
allow systemd_hostnamed_t libnl3_lib_t:file execute;
allow systemd_hostnamed_t libpcap_lib_t:file execute;
allow systemd_hostnamed_t libseccomp_lib_t:file execute;
allow systemd_hostnamed_t libselinux_lib_t:file execute;
allow systemd_hostnamed_t libunistring_lib_t:file execute;
allow systemd_hostnamed_t libuuid_lib_t:file execute;
allow systemd_hostnamed_t libxcrypt_lib_t:file execute;
allow systemd_hostnamed_t libzstd_lib_t:file execute;
allow systemd_hostnamed_t lz4-libs_lib_t:file execute;
allow systemd_hostnamed_t openssl-libs_lib_t:file execute;
allow systemd_hostnamed_t pcre2_lib_t:file execute;
allow systemd_hostnamed_t xz-libs_lib_t:file execute;
allow systemd_hostnamed_t zlib_lib_t:file execute;
#============= systemd_logind_t ==============
allow systemd_logind_t audit-libs_lib_t:file execute;
allow systemd_logind_t cryptsetup-libs_lib_t:file execute;
allow systemd_logind_t device-mapper-libs_lib_t:file execute;
allow systemd_logind_t iptables-libs_lib_t:file execute;
allow systemd_logind_t kmod-libs_lib_t:file execute;
allow systemd_logind_t libacl_lib_t:file execute;
allow systemd_logind_t libargon2_lib_t:file execute;
allow systemd_logind_t libattr_lib_t:file execute;
allow systemd_logind_t libblkid_lib_t:file execute;
allow systemd_logind_t libcap_lib_t:file execute;
allow systemd_logind_t libcap-ng_lib_t:file execute;
allow systemd_logind_t libeconf_lib_t:file execute;
allow systemd_logind_t libffi_lib_t:file execute;
allow systemd_logind_t libgcc_lib_t:file execute;
allow systemd_logind_t libgcrypt_lib_t:file execute;
allow systemd_logind_t libgpg-error_lib_t:file execute;
allow systemd_logind_t libibverbs_lib_t:file execute;
allow systemd_logind_t libidn2_lib_t:file execute;
allow systemd_logind_t libmount_lib_t:file execute;
allow systemd_logind_t libnl3_lib_t:file execute;
allow systemd_logind_t libpcap_lib_t:file execute;
allow systemd_logind_t libseccomp_lib_t:file execute;
allow systemd_logind_t libselinux_lib_t:file execute;
allow systemd_logind_t libunistring_lib_t:file execute;
allow systemd_logind_t libuuid_lib_t:file execute;
allow systemd_logind_t libxcrypt_lib_t:file execute;
allow systemd_logind_t libzstd_lib_t:file execute;
allow systemd_logind_t lz4-libs_lib_t:file execute;
allow systemd_logind_t openssl-libs_lib_t:file execute;
allow systemd_logind_t pcre2_lib_t:file execute;
allow systemd_logind_t xz-libs_lib_t:file execute;
allow systemd_logind_t zlib_lib_t:file execute;
#============= systemd_resolved_t ==============
allow systemd_resolved_t audit-libs_lib_t:file execute;
allow systemd_resolved_t device-mapper-libs_lib_t:file execute;
allow systemd_resolved_t libargon2_lib_t:file execute;
allow systemd_resolved_t libattr_lib_t:file execute;
allow systemd_resolved_t libcap-ng_lib_t:file execute;
allow systemd_resolved_t libeconf_lib_t:file execute;
allow systemd_resolved_t libffi_lib_t:file execute;
allow systemd_resolved_t libibverbs_lib_t:file execute;
allow systemd_resolved_t libnl3_lib_t:file execute;
allow systemd_resolved_t libpcap_lib_t:file execute;
allow systemd_resolved_t libuuid_lib_t:file execute;
allow systemd_resolved_t pcre2_lib_t:file execute;
allow systemd_resolved_t zlib_lib_t:file execute;
#============= systemd_tmpfiles_t ==============
allow systemd_tmpfiles_t libacl_lib_t:file execute;
allow systemd_tmpfiles_t libblkid_lib_t:file execute;
allow systemd_tmpfiles_t libgcc_lib_t:file execute;
#============= systemd_userdbd_t ==============
allow systemd_userdbd_t audit-libs_lib_t:file execute;
allow systemd_userdbd_t cryptsetup-libs_lib_t:file execute;
allow systemd_userdbd_t device-mapper-libs_lib_t:file execute;
allow systemd_userdbd_t iptables-libs_lib_t:file execute;
allow systemd_userdbd_t kmod-libs_lib_t:file execute;
allow systemd_userdbd_t libacl_lib_t:file execute;
allow systemd_userdbd_t libargon2_lib_t:file execute;
allow systemd_userdbd_t libattr_lib_t:file execute;
allow systemd_userdbd_t libblkid_lib_t:file execute;
allow systemd_userdbd_t libcap_lib_t:file execute;
allow systemd_userdbd_t libcap-ng_lib_t:file execute;
allow systemd_userdbd_t libeconf_lib_t:file execute;
allow systemd_userdbd_t libffi_lib_t:file execute;
allow systemd_userdbd_t libgcc_lib_t:file execute;
allow systemd_userdbd_t libgcrypt_lib_t:file execute;
allow systemd_userdbd_t libgpg-error_lib_t:file execute;
allow systemd_userdbd_t libibverbs_lib_t:file execute;
allow systemd_userdbd_t libidn2_lib_t:file execute;
allow systemd_userdbd_t libmount_lib_t:file execute;
allow systemd_userdbd_t libnl3_lib_t:file execute;
allow systemd_userdbd_t libpcap_lib_t:file execute;
allow systemd_userdbd_t libseccomp_lib_t:file execute;
allow systemd_userdbd_t libselinux_lib_t:file execute;
allow systemd_userdbd_t libunistring_lib_t:file execute;
allow systemd_userdbd_t libuuid_lib_t:file execute;
allow systemd_userdbd_t libxcrypt_lib_t:file execute;
allow systemd_userdbd_t libzstd_lib_t:file execute;
allow systemd_userdbd_t lz4-libs_lib_t:file execute;
allow systemd_userdbd_t openssl-libs_lib_t:file execute;
allow systemd_userdbd_t pcre2_lib_t:file execute;
allow systemd_userdbd_t xz-libs_lib_t:file execute;
allow systemd_userdbd_t zlib_lib_t:file execute;
#============= user_dbusd_t ==============
allow user_dbusd_t audit-libs_lib_t:file execute;
allow user_dbusd_t dbus-libs_lib_t:file execute;
allow user_dbusd_t libcap-ng_lib_t:file execute;
allow user_dbusd_t libgcc_lib_t:file execute;
allow user_dbusd_t libgcrypt_lib_t:file execute;
allow user_dbusd_t libgpg-error_lib_t:file execute;
allow user_dbusd_t libselinux_lib_t:file execute;
allow user_dbusd_t libzstd_lib_t:file execute;
allow user_dbusd_t lz4-libs_lib_t:file execute;
allow user_dbusd_t pcre2_lib_t:file execute;
allow user_dbusd_t xz-libs_lib_t:file execute;
#============= user_t ==============
allow user_t tmpfs_t:file { read write };
allow user_t user_home_dir_t:file { getattr relabelfrom };
