module init_user 1.0;
########################################
require {
    class blk_file { create };
    class chr_file { create };
    class dir { write };
    class fifo_file { create };
    class file { create open write };
    class lnk_file { create rename unlink };
    class process { rlimitinh siginh };
    type init_t;
    type user_ssh_agent_t;
    type user_t;
    type user_tmp_t;
    type var_log_t;
}
########################################
#============= init_t ==============
allow init_t user_tmp_t:blk_file create;
allow init_t user_tmp_t:chr_file create;
allow init_t user_tmp_t:fifo_file create;
allow init_t user_tmp_t:file { create open write };
allow init_t user_tmp_t:lnk_file { create rename unlink };
#============= user_t ==============
allow user_t user_ssh_agent_t:process { rlimitinh siginh };
allow user_t var_log_t:dir write;
