policy_module(MODULE, 1.0.0)
########################################
# Required
gen_require(`
    role user_r;
')

# Roles
attribute_role MODULE_roles;
roleattribute user_r MODULE_roles;
role MODULE_roles types MODULE_t;

# Types (Binary)
type MODULE_t;
type MODULE_exec_t;
application_domain(MODULE_t, MODULE_exec_t);
hardhat_domain_auto_transition_pattern(user_t, MODULE_exec_t, MODULE_t);

# Types (Configuration Directories & Files)
# type MODULE_etc_t;
# hardhat_files_config_file(MODULE_etc_t);
########################################
module dbus-uuidgen 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class chr_file { getattr open read write };
    class dir { search };
    class file { entrypoint execute getattr map open read };
    class lnk_file { read };
    class process { rlimitinh siginh transition };
    role user_r;
    type device_t;
    type etc_t;
    type ld_so_cache_t;
    type ld_so_t;
    type lib_t;
    type machineid_t;
    type root_t;
    type sysctl_t;
    type system_dbusd_var_lib_t;
    type urandom_device_t;
    type user_t;
    type user_tty_device_t;
    type usr_t;
    type var_lib_t;
    type var_t;
}
########################################
type dbus-uuidgen_t, application_domain_type;
type dbus-uuidgen_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types dbus-uuidgen_t;
type_transition user_t dbus-uuidgen_exec_t: process dbus-uuidgen_t;
########################################
#============= dbus-uuidgen_t ==============
allow dbus-uuidgen_t dbus-uuidgen_exec_t:file { entrypoint execute map read };
allow dbus-uuidgen_t device_t:dir search;
allow dbus-uuidgen_t etc_t:dir search;
allow dbus-uuidgen_t ld_so_cache_t:file { getattr map open read };
allow dbus-uuidgen_t ld_so_t:file { execute map read };
allow dbus-uuidgen_t lib_t:dir search;
allow dbus-uuidgen_t lib_t:file { execute getattr map open read };
allow dbus-uuidgen_t lib_t:lnk_file read;
allow dbus-uuidgen_t machineid_t:file { getattr open read };
allow dbus-uuidgen_t root_t:dir search;
allow dbus-uuidgen_t sysctl_t:dir search;
allow dbus-uuidgen_t system_dbusd_var_lib_t:dir search;
allow dbus-uuidgen_t system_dbusd_var_lib_t:lnk_file read;
allow dbus-uuidgen_t urandom_device_t:chr_file { open read };
allow dbus-uuidgen_t user_tty_device_t:chr_file { getattr read write };
allow dbus-uuidgen_t usr_t:dir search;
allow dbus-uuidgen_t var_lib_t:dir search;
allow dbus-uuidgen_t var_t:dir search;
#============= user_t ==============
allow user_t dbus-uuidgen_t:process { rlimitinh siginh transition };
