policy_module(desktop_home, 1.0.0)
########################################
gen_require(`
    attribute userdom_filetrans_type;
')
type desktop_home_t;
userdom_user_home_content(desktop_home_t)
ubac_constrained(desktop_home_t)
hardhat_userdom_user_home_dir_filetrans(userdom_filetrans_type, desktop_home_t, dir, "Desktop")
########################################
