module hardhat-named 1.0;
########################################
require {
    class file { execute map };
    type hardened-malloc_t;
    type named_t;
}
########################################
#============= named_t ==============
allow named_t hardened-malloc_t:file { execute map };
