module youtube-dl 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class chr_file { getattr read write };
    class dbus { send_msg };
    class dir { add_name create getattr open read remove_name search write };
    class fifo_file { getattr read write };
    class file { append create entrypoint execute execute_no_trans getattr ioctl map open read rename setattr unlink write };
    class lnk_file { read };
    class netlink_route_socket { bind create getattr nlmsg_read read write };
    class process { fork getattr getsched rlimitinh siginh transition };
    class sock_file { write };
    class tcp_socket { connect create getattr getopt name_connect read setopt write };
    class udp_socket { connect create getattr setopt write };
    class unix_stream_socket { connect connectto create getattr getopt read setopt shutdown write };
    role user_r;
    type SDL2_lib_t;
    type alsa-lib_lib_t;
    type bin_t;
    type bzip2-libs_t;
    type cache_home_t;
    type cairo-gobject_lib_t;
    type cairo_lib_t;
    type cert_t;
    type coreutils_bin_t;
    type cyrus-sasl-lib_lib_t;
    type dbus-libs_t;
    type etc_t;
    type expat_lib_t;
    type ffmpeg_bin_t;
    type ffmpeg-libs_t;
    type fontconfig_lib_t;
    type freetype_lib_t;
    type fribidi_lib_t;
    type gdk-pixbuf2_lib_t;
    type gettext_bin_t;
    type glib2_lib_t;
    type glibc-common_bin_t;
    type glibc_lib_t;
    type gmp_lib_t;
    type gnutls_lib_t;
    type graphite2_lib_t;
    type gsm_lib_t;
    type gzip_bin_t;
    type hardened-malloc_t;
    type harfbuzz_lib_t;
    type home_root_t;
    type http_port_t;
    type intel-mediasdk_lib_t;
    type jack-audio-connection-kit_lib_t;
    type jansson_lib_t;
    type keyutils-libs_t;
    type krb5-libs_t;
    type ld_so_cache_t;
    type ld_so_t;
    type lensfun_lib_t;
    type libICE_lib_t;
    type libSM_lib_t;
    type libX11-xcb_lib_t;
    type libX11_lib_t;
    type libXau_lib_t;
    type libXext_lib_t;
    type libXi_lib_t;
    type libXrender_lib_t;
    type libXtst_lib_t;
    type lib_t;
    type libaom_lib_t;
    type libass_lib_t;
    type libasyncns_lib_t;
    type libblkid_lib_t;
    type libbluray_lib_t;
    type libbrotli_lib_t;
    type libcap_lib_t;
    type libcdio-paranoia_lib_t;
    type libcdio_lib_t;
    type libcom_err_lib_t;
    type libdatrie_lib_t;
    type libdav1d_lib_t;
    type libdb_lib_t;
    type libdrm_lib_t;
    type libffi_lib_t;
    type libgcc_lib_t;
    type libgcrypt_lib_t;
    type libglvnd-glx_lib_t;
    type libgomp_lib_t;
    type libgpg-error_lib_t;
    type libicu_lib_t;
    type libidn2_lib_t;
    type libjpeg-turbo_lib_t;
    type libldb_lib_t;
    type libmodplug_lib_t;
    type libmount_lib_t;
    type libmysofa_lib_t;
    type libnsl2_lib_t;
    type libogg_lib_t;
    type libopenmpt_lib_t;
    type libpng_lib_t;
    type librsvg2_lib_t;
    type libselinux_lib_t;
    type libsmbclient_lib_t;
    type libsndfile_lib_t;
    type libssh_lib_t;
    type libstdcpp_lib_t;
    type libtalloc_lib_t;
    type libtasn1_lib_t;
    type libtdb_lib_t;
    type libtevent_lib_t;
    type libthai_lib_t;
    type libtheora_lib_t;
    type libtirpc_lib_t;
    type libudfread_lib_t;
    type libunistring_lib_t;
    type libuuid_lib_t;
    type libv4l_lib_t;
    type libva_lib_t;
    type libvdpau_lib_t;
    type libvmaf_lib_t;
    type libvorbis_lib_t;
    type libvpx_lib_t;
    type libwbclient_lib_t;
    type libxcb_lib_t;
    type libxcrypt_lib_t;
    type libxml2_lib_t;
    type libzstd_lib_t;
    type lilv_lib_t;
    type locale_t;
    type lz4-libs_t;
    type net_conf_t;
    type nettle_lib_t;
    type nss-mdns_lib_t;
    type numactl-libs_t;
    type ocl-icd_lib_t;
    type openal-soft_lib_t;
    type opencore-amr_lib_t;
    type openjpeg2_lib_t;
    type openldap_lib_t;
    type openssl-libs_t;
    type opus_lib_t;
    type p11-kit_lib_t;
    type pango_lib_t;
    type pcre2_lib_t;
    type pcre_lib_t;
    type pixman_lib_t;
    type pugixml_lib_t;
    type pulseaudio-libs_t;
    type python3_bin_t;
    type python3-libs_t;
    type rav1e-libs_t;
    type root_t;
    type samba-client-libs_t;
    type serd_lib_t;
    type sord_lib_t;
    type soxr_lib_t;
    type speex_lib_t;
    type spirv-tools-libs_t;
    type sratom_lib_t;
    type system_dbusd_t;
    type system_dbusd_var_run_t;
    type systemd-libs_t;
    type systemd_resolved_t;
    type textrel_shlib_t;
    type user_devpts_t;
    type user_home_dir_t;
    type user_t;
    type usr_t;
    type vapoursynth-libs_t;
    type var_run_t;
    type vidstab_lib_t;
    type vo-amrwbenc_lib_t;
    type vulkan-loader_lib_t;
    type x265-libs_t;
    type xz-libs_t;
    type zimg_lib_t;
    type zlib_lib_t;
}
########################################
type youtube-dl_t, application_domain_type;
type youtube-dl_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types youtube-dl_t;
type_transition user_t youtube-dl_exec_t: process youtube-dl_t;
########################################
#============= user_t ==============
allow user_t youtube-dl_t:process { getattr rlimitinh siginh transition };
#============= youtube-dl_t ==============
allow youtube-dl_t alsa-lib_lib_t:file { execute getattr map open read };
allow youtube-dl_t alsa-lib_lib_t:lnk_file read;
allow youtube-dl_t bin_t:dir { getattr open read search };
allow youtube-dl_t bin_t:file { execute execute_no_trans getattr map open read };
allow youtube-dl_t bin_t:lnk_file read;
allow youtube-dl_t bzip2-libs_t:file { execute getattr map open read };
allow youtube-dl_t bzip2-libs_t:lnk_file read;
allow youtube-dl_t cache_home_t:dir { add_name create getattr remove_name search write };
allow youtube-dl_t cache_home_t:file { create getattr open read rename setattr write };
allow youtube-dl_t cairo-gobject_lib_t:file { execute getattr map open read };
allow youtube-dl_t cairo-gobject_lib_t:lnk_file read;
allow youtube-dl_t cairo_lib_t:file { execute getattr map open read };
allow youtube-dl_t cairo_lib_t:lnk_file read;
allow youtube-dl_t cert_t:dir search;
allow youtube-dl_t cert_t:file { getattr open read };
allow youtube-dl_t cert_t:lnk_file read;
allow youtube-dl_t coreutils_bin_t:file getattr;
allow youtube-dl_t cyrus-sasl-lib_lib_t:file { execute getattr map open read };
allow youtube-dl_t cyrus-sasl-lib_lib_t:lnk_file read;
allow youtube-dl_t dbus-libs_t:file { execute getattr map open read };
allow youtube-dl_t dbus-libs_t:lnk_file read;
allow youtube-dl_t etc_t:dir search;
allow youtube-dl_t etc_t:file { getattr open read };
allow youtube-dl_t etc_t:lnk_file read;
allow youtube-dl_t expat_lib_t:file { execute getattr map open read };
allow youtube-dl_t expat_lib_t:lnk_file read;
allow youtube-dl_t ffmpeg_bin_t:file { execute execute_no_trans map open read };
allow youtube-dl_t ffmpeg-libs_t:file { execute getattr map open read };
allow youtube-dl_t ffmpeg-libs_t:lnk_file read;
allow youtube-dl_t fontconfig_lib_t:file { execute getattr map open read };
allow youtube-dl_t fontconfig_lib_t:lnk_file read;
allow youtube-dl_t freetype_lib_t:file { execute getattr map open read };
allow youtube-dl_t freetype_lib_t:lnk_file read;
allow youtube-dl_t fribidi_lib_t:file { execute getattr map open read };
allow youtube-dl_t fribidi_lib_t:lnk_file read;
allow youtube-dl_t gdk-pixbuf2_lib_t:file { execute getattr map open read };
allow youtube-dl_t gdk-pixbuf2_lib_t:lnk_file read;
allow youtube-dl_t gettext_bin_t:file getattr;
allow youtube-dl_t glib2_lib_t:file { execute getattr map open read };
allow youtube-dl_t glib2_lib_t:lnk_file read;
allow youtube-dl_t glibc-common_bin_t:file getattr;
allow youtube-dl_t glibc_lib_t:file { execute getattr map open read };
allow youtube-dl_t gmp_lib_t:file { execute getattr map open read };
allow youtube-dl_t gmp_lib_t:lnk_file read;
allow youtube-dl_t gnutls_lib_t:file { execute getattr map open read };
allow youtube-dl_t gnutls_lib_t:lnk_file read;
allow youtube-dl_t graphite2_lib_t:file { execute getattr map open read };
allow youtube-dl_t graphite2_lib_t:lnk_file read;
allow youtube-dl_t gsm_lib_t:file { execute getattr map open read };
allow youtube-dl_t gsm_lib_t:lnk_file read;
allow youtube-dl_t gzip_bin_t:file getattr;
allow youtube-dl_t hardened-malloc_t:file { execute getattr map open read };
allow youtube-dl_t harfbuzz_lib_t:file { execute getattr map open read };
allow youtube-dl_t harfbuzz_lib_t:lnk_file read;
allow youtube-dl_t home_root_t:dir search;
allow youtube-dl_t http_port_t:tcp_socket name_connect;
allow youtube-dl_t intel-mediasdk_lib_t:file { execute getattr map open read };
allow youtube-dl_t intel-mediasdk_lib_t:lnk_file read;
allow youtube-dl_t jack-audio-connection-kit_lib_t:file { execute getattr map open read };
allow youtube-dl_t jack-audio-connection-kit_lib_t:lnk_file read;
allow youtube-dl_t jansson_lib_t:file { execute getattr map open read };
allow youtube-dl_t jansson_lib_t:lnk_file read;
allow youtube-dl_t keyutils-libs_t:file { execute getattr map open read };
allow youtube-dl_t keyutils-libs_t:lnk_file read;
allow youtube-dl_t krb5-libs_t:file { execute getattr map open read };
allow youtube-dl_t krb5-libs_t:lnk_file read;
allow youtube-dl_t ld_so_cache_t:file { getattr map open read };
allow youtube-dl_t ld_so_t:file { execute map open read };
allow youtube-dl_t lensfun_lib_t:file { execute getattr map open read };
allow youtube-dl_t lensfun_lib_t:lnk_file read;
allow youtube-dl_t libaom_lib_t:file { execute getattr map open read };
allow youtube-dl_t libaom_lib_t:lnk_file read;
allow youtube-dl_t libass_lib_t:file { execute getattr map open read };
allow youtube-dl_t libass_lib_t:lnk_file read;
allow youtube-dl_t libasyncns_lib_t:file { execute getattr map open read };
allow youtube-dl_t libasyncns_lib_t:lnk_file read;
allow youtube-dl_t libblkid_lib_t:file { execute getattr map open read };
allow youtube-dl_t libblkid_lib_t:lnk_file read;
allow youtube-dl_t libbluray_lib_t:file { execute getattr map open read };
allow youtube-dl_t libbluray_lib_t:lnk_file read;
allow youtube-dl_t libbrotli_lib_t:file { execute getattr map open read };
allow youtube-dl_t libbrotli_lib_t:lnk_file read;
allow youtube-dl_t libcap_lib_t:file { execute getattr map open read };
allow youtube-dl_t libcap_lib_t:lnk_file read;
allow youtube-dl_t libcdio_lib_t:file { execute getattr map open read };
allow youtube-dl_t libcdio_lib_t:lnk_file read;
allow youtube-dl_t libcdio-paranoia_lib_t:file { execute getattr map open read };
allow youtube-dl_t libcdio-paranoia_lib_t:lnk_file read;
allow youtube-dl_t libcom_err_lib_t:file { execute getattr map open read };
allow youtube-dl_t libcom_err_lib_t:lnk_file read;
allow youtube-dl_t libdatrie_lib_t:file { execute getattr map open read };
allow youtube-dl_t libdatrie_lib_t:lnk_file read;
allow youtube-dl_t libdav1d_lib_t:file { execute getattr map open read };
allow youtube-dl_t libdav1d_lib_t:lnk_file read;
allow youtube-dl_t libdb_lib_t:file { execute getattr map open read };
allow youtube-dl_t libdrm_lib_t:file { execute getattr map open read };
allow youtube-dl_t libdrm_lib_t:lnk_file read;
allow youtube-dl_t libffi_lib_t:file { execute getattr map open read };
allow youtube-dl_t libffi_lib_t:lnk_file read;
allow youtube-dl_t libgcc_lib_t:file { execute getattr map open read };
allow youtube-dl_t libgcrypt_lib_t:file { execute getattr map open read };
allow youtube-dl_t libgcrypt_lib_t:lnk_file read;
allow youtube-dl_t libglvnd-glx_lib_t:file { execute getattr map open read };
allow youtube-dl_t libglvnd-glx_lib_t:lnk_file read;
allow youtube-dl_t libgomp_lib_t:file { execute getattr map open read };
allow youtube-dl_t libgomp_lib_t:lnk_file read;
allow youtube-dl_t libgpg-error_lib_t:file { execute getattr map open read };
allow youtube-dl_t libgpg-error_lib_t:lnk_file read;
allow youtube-dl_t libICE_lib_t:file { execute getattr map open read };
allow youtube-dl_t libICE_lib_t:lnk_file read;
allow youtube-dl_t libicu_lib_t:file { execute getattr map open read };
allow youtube-dl_t libicu_lib_t:lnk_file read;
allow youtube-dl_t libidn2_lib_t:file { execute getattr map open read };
allow youtube-dl_t libidn2_lib_t:lnk_file read;
allow youtube-dl_t libjpeg-turbo_lib_t:file { execute getattr map open read };
allow youtube-dl_t libjpeg-turbo_lib_t:lnk_file read;
allow youtube-dl_t libldb_lib_t:file { execute getattr map open read };
allow youtube-dl_t libldb_lib_t:lnk_file read;
allow youtube-dl_t libmodplug_lib_t:file { execute getattr map open read };
allow youtube-dl_t libmodplug_lib_t:lnk_file read;
allow youtube-dl_t libmount_lib_t:file { execute getattr map open read };
allow youtube-dl_t libmount_lib_t:lnk_file read;
allow youtube-dl_t libmysofa_lib_t:file { execute getattr map open read };
allow youtube-dl_t libmysofa_lib_t:lnk_file read;
allow youtube-dl_t libnsl2_lib_t:file { execute getattr map open read };
allow youtube-dl_t libnsl2_lib_t:lnk_file read;
allow youtube-dl_t libogg_lib_t:file { execute getattr map open read };
allow youtube-dl_t libogg_lib_t:lnk_file read;
allow youtube-dl_t libopenmpt_lib_t:file { execute getattr map open read };
allow youtube-dl_t libopenmpt_lib_t:lnk_file read;
allow youtube-dl_t libpng_lib_t:file { execute getattr map open read };
allow youtube-dl_t libpng_lib_t:lnk_file read;
allow youtube-dl_t librsvg2_lib_t:file { execute getattr map open read };
allow youtube-dl_t librsvg2_lib_t:lnk_file read;
allow youtube-dl_t libselinux_lib_t:file { execute getattr map open read };
allow youtube-dl_t libsmbclient_lib_t:file { execute getattr map open read };
allow youtube-dl_t libsmbclient_lib_t:lnk_file read;
allow youtube-dl_t libSM_lib_t:file { execute getattr map open read };
allow youtube-dl_t libSM_lib_t:lnk_file read;
allow youtube-dl_t libsndfile_lib_t:file { execute getattr map open read };
allow youtube-dl_t libsndfile_lib_t:lnk_file read;
allow youtube-dl_t libssh_lib_t:file { execute getattr map open read };
allow youtube-dl_t libssh_lib_t:lnk_file read;
allow youtube-dl_t libstdcpp_lib_t:file { execute getattr map open read };
allow youtube-dl_t libstdcpp_lib_t:lnk_file read;
allow youtube-dl_t libtalloc_lib_t:file { execute getattr map open read };
allow youtube-dl_t libtalloc_lib_t:lnk_file read;
allow youtube-dl_t libtasn1_lib_t:file { execute getattr map open read };
allow youtube-dl_t libtasn1_lib_t:lnk_file read;
allow youtube-dl_t libtdb_lib_t:file { execute getattr map open read };
allow youtube-dl_t libtdb_lib_t:lnk_file read;
allow youtube-dl_t lib_t:dir { getattr search };
allow youtube-dl_t lib_t:lnk_file read;
allow youtube-dl_t libtevent_lib_t:file { execute getattr map open read };
allow youtube-dl_t libtevent_lib_t:lnk_file read;
allow youtube-dl_t libthai_lib_t:file { execute getattr map open read };
allow youtube-dl_t libthai_lib_t:lnk_file read;
allow youtube-dl_t libtheora_lib_t:file { execute getattr map open read };
allow youtube-dl_t libtheora_lib_t:lnk_file read;
allow youtube-dl_t libtirpc_lib_t:file { execute getattr map open read };
allow youtube-dl_t libudfread_lib_t:file { execute getattr map open read };
allow youtube-dl_t libudfread_lib_t:lnk_file read;
allow youtube-dl_t libunistring_lib_t:file { execute getattr map open read };
allow youtube-dl_t libunistring_lib_t:lnk_file read;
allow youtube-dl_t libuuid_lib_t:file { execute getattr map open read };
allow youtube-dl_t libuuid_lib_t:lnk_file read;
allow youtube-dl_t libv4l_lib_t:file { execute getattr map open read };
allow youtube-dl_t libv4l_lib_t:lnk_file read;
allow youtube-dl_t libva_lib_t:file { execute getattr map open read };
allow youtube-dl_t libva_lib_t:lnk_file read;
allow youtube-dl_t libvdpau_lib_t:file { execute getattr map open read };
allow youtube-dl_t libvdpau_lib_t:lnk_file read;
allow youtube-dl_t libvmaf_lib_t:file { execute getattr map open read };
allow youtube-dl_t libvmaf_lib_t:lnk_file read;
allow youtube-dl_t libvorbis_lib_t:file { execute getattr map open read };
allow youtube-dl_t libvorbis_lib_t:lnk_file read;
allow youtube-dl_t libvpx_lib_t:file { execute getattr map open read };
allow youtube-dl_t libvpx_lib_t:lnk_file read;
allow youtube-dl_t libwbclient_lib_t:file { execute getattr map open read };
allow youtube-dl_t libX11_lib_t:file { execute getattr map open read };
allow youtube-dl_t libX11_lib_t:lnk_file read;
allow youtube-dl_t libX11-xcb_lib_t:file { execute getattr map open read };
allow youtube-dl_t libX11-xcb_lib_t:lnk_file read;
allow youtube-dl_t libXau_lib_t:file { execute getattr map open read };
allow youtube-dl_t libXau_lib_t:lnk_file read;
allow youtube-dl_t libxcb_lib_t:file { execute getattr map open read };
allow youtube-dl_t libxcb_lib_t:lnk_file read;
allow youtube-dl_t libxcrypt_lib_t:file { execute getattr map open read };
allow youtube-dl_t libxcrypt_lib_t:lnk_file read;
allow youtube-dl_t libXext_lib_t:file { execute getattr map open read };
allow youtube-dl_t libXext_lib_t:lnk_file read;
allow youtube-dl_t libXi_lib_t:file { execute getattr map open read };
allow youtube-dl_t libXi_lib_t:lnk_file read;
allow youtube-dl_t libxml2_lib_t:file { execute getattr map open read };
allow youtube-dl_t libxml2_lib_t:lnk_file read;
allow youtube-dl_t libXrender_lib_t:file { execute getattr map open read };
allow youtube-dl_t libXrender_lib_t:lnk_file read;
allow youtube-dl_t libXtst_lib_t:file { execute getattr map open read };
allow youtube-dl_t libXtst_lib_t:lnk_file read;
allow youtube-dl_t libzstd_lib_t:file { execute getattr map open read };
allow youtube-dl_t libzstd_lib_t:lnk_file read;
allow youtube-dl_t lilv_lib_t:file { execute getattr map open read };
allow youtube-dl_t lilv_lib_t:lnk_file read;
allow youtube-dl_t locale_t:dir search;
allow youtube-dl_t locale_t:file { getattr map open read };
allow youtube-dl_t locale_t:lnk_file read;
allow youtube-dl_t lz4-libs_t:file { execute getattr map open read };
allow youtube-dl_t lz4-libs_t:lnk_file read;
allow youtube-dl_t net_conf_t:file { getattr open read };
allow youtube-dl_t net_conf_t:lnk_file read;
allow youtube-dl_t nettle_lib_t:file { execute getattr map open read };
allow youtube-dl_t nettle_lib_t:lnk_file read;
allow youtube-dl_t nss-mdns_lib_t:file { execute getattr map open read };
allow youtube-dl_t numactl-libs_t:file { execute getattr map open read };
allow youtube-dl_t numactl-libs_t:lnk_file read;
allow youtube-dl_t ocl-icd_lib_t:file { execute getattr map open read };
allow youtube-dl_t ocl-icd_lib_t:lnk_file read;
allow youtube-dl_t openal-soft_lib_t:file { execute getattr map open read };
allow youtube-dl_t openal-soft_lib_t:lnk_file read;
allow youtube-dl_t opencore-amr_lib_t:file { execute getattr map open read };
allow youtube-dl_t opencore-amr_lib_t:lnk_file read;
allow youtube-dl_t openjpeg2_lib_t:file { execute getattr map open read };
allow youtube-dl_t openjpeg2_lib_t:lnk_file read;
allow youtube-dl_t openldap_lib_t:file { execute getattr map open read };
allow youtube-dl_t openldap_lib_t:lnk_file read;
allow youtube-dl_t openssl-libs_t:file { execute getattr map open read };
allow youtube-dl_t openssl-libs_t:lnk_file read;
allow youtube-dl_t opus_lib_t:file { execute getattr map open read };
allow youtube-dl_t opus_lib_t:lnk_file read;
allow youtube-dl_t p11-kit_lib_t:file { execute getattr map open read };
allow youtube-dl_t p11-kit_lib_t:lnk_file read;
allow youtube-dl_t pango_lib_t:file { execute getattr map open read };
allow youtube-dl_t pango_lib_t:lnk_file read;
allow youtube-dl_t pcre2_lib_t:file { execute getattr map open read };
allow youtube-dl_t pcre2_lib_t:lnk_file read;
allow youtube-dl_t pcre_lib_t:file { execute getattr map open read };
allow youtube-dl_t pcre_lib_t:lnk_file read;
allow youtube-dl_t pixman_lib_t:file { execute getattr map open read };
allow youtube-dl_t pixman_lib_t:lnk_file read;
allow youtube-dl_t pugixml_lib_t:file { execute getattr map open read };
allow youtube-dl_t pugixml_lib_t:lnk_file read;
allow youtube-dl_t pulseaudio-libs_t:file { execute getattr map open read };
allow youtube-dl_t pulseaudio-libs_t:lnk_file read;
allow youtube-dl_t python3_bin_t:file { execute map read };
allow youtube-dl_t python3_bin_t:lnk_file read;
allow youtube-dl_t python3-libs_t:dir { getattr open read search };
allow youtube-dl_t python3-libs_t:file { execute getattr ioctl map open read };
allow youtube-dl_t rav1e-libs_t:file { execute getattr map open read };
allow youtube-dl_t rav1e-libs_t:lnk_file read;
allow youtube-dl_t root_t:dir { getattr search };
allow youtube-dl_t samba-client-libs_t:file { execute getattr map open read };
allow youtube-dl_t samba-client-libs_t:lnk_file read;
allow youtube-dl_t SDL2_lib_t:file { execute getattr map open read };
allow youtube-dl_t SDL2_lib_t:lnk_file read;
allow youtube-dl_t self:dir { open read search };
allow youtube-dl_t self:fifo_file { getattr read write };
allow youtube-dl_t self:file { getattr open read };
allow youtube-dl_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow youtube-dl_t self:process { fork getsched };
allow youtube-dl_t self:tcp_socket { connect create getattr getopt read setopt write };
allow youtube-dl_t self:udp_socket { connect create getattr setopt write };
allow youtube-dl_t self:unix_stream_socket { connect create getattr getopt read setopt shutdown write };
allow youtube-dl_t serd_lib_t:file { execute getattr map open read };
allow youtube-dl_t serd_lib_t:lnk_file read;
allow youtube-dl_t sord_lib_t:file { execute getattr map open read };
allow youtube-dl_t sord_lib_t:lnk_file read;
allow youtube-dl_t soxr_lib_t:file { execute getattr map open read };
allow youtube-dl_t soxr_lib_t:lnk_file read;
allow youtube-dl_t speex_lib_t:file { execute getattr map open read };
allow youtube-dl_t speex_lib_t:lnk_file read;
allow youtube-dl_t spirv-tools-libs_t:file { execute getattr map open read };
allow youtube-dl_t sratom_lib_t:file { execute getattr map open read };
allow youtube-dl_t sratom_lib_t:lnk_file read;
allow youtube-dl_t system_dbusd_t:dbus send_msg;
allow youtube-dl_t system_dbusd_t:unix_stream_socket connectto;
allow youtube-dl_t system_dbusd_var_run_t:dir search;
allow youtube-dl_t system_dbusd_var_run_t:sock_file write;
allow youtube-dl_t systemd-libs_t:file { execute getattr map open read };
allow youtube-dl_t systemd-libs_t:lnk_file read;
allow youtube-dl_t systemd_resolved_t:dbus send_msg;
allow youtube-dl_t textrel_shlib_t:file { execute getattr map open read };
allow youtube-dl_t user_devpts_t:chr_file { getattr read write };
allow youtube-dl_t user_home_dir_t:dir { add_name remove_name search write };
allow youtube-dl_t user_home_dir_t:file { append create getattr open read rename setattr unlink write };
allow youtube-dl_t usr_t:dir { getattr search };
allow youtube-dl_t vapoursynth-libs_t:file { execute getattr map open read };
allow youtube-dl_t vapoursynth-libs_t:lnk_file read;
allow youtube-dl_t var_run_t:dir search;
allow youtube-dl_t vidstab_lib_t:file { execute getattr map open read };
allow youtube-dl_t vo-amrwbenc_lib_t:file { execute getattr map open read };
allow youtube-dl_t vo-amrwbenc_lib_t:lnk_file read;
allow youtube-dl_t vulkan-loader_lib_t:file { execute getattr map open read };
allow youtube-dl_t vulkan-loader_lib_t:lnk_file read;
allow youtube-dl_t x265-libs_t:file { execute getattr map open read };
allow youtube-dl_t xz-libs_t:file { execute getattr map open read };
allow youtube-dl_t xz-libs_t:lnk_file read;
allow youtube-dl_t youtube-dl_exec_t:file { entrypoint getattr open read };
allow youtube-dl_t zimg_lib_t:file { execute getattr map open read };
allow youtube-dl_t zimg_lib_t:lnk_file read;
allow youtube-dl_t zlib_lib_t:file { execute getattr map open read };
allow youtube-dl_t zlib_lib_t:lnk_file read;
