policy_module(public_home, 1.0.0)
########################################
gen_require(`
    attribute userdom_filetrans_type;
')
type public_home_t;
userdom_user_home_content(public_home_t)
ubac_constrained(public_home_t)
hardhat_userdom_user_home_dir_filetrans(userdom_filetrans_type, public_home_t, dir, "Public")
########################################
