module dbus-broker_label 1.0.0;
########################################
require {
    attribute application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type, systemprocess_entry;
}
########################################
type dbus-broker_bin_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type, systemprocess_entry;
type dbus-broker_lib_t, file_type, non_auth_file_type, non_security_file_type, systemd_unit_file_type;
type dbus-broker_usr_t, file_type, non_auth_file_type, non_security_file_type;
########################################
