module gnupg2-smime_label 1.0.0;
########################################
require {
    attribute file_type, non_auth_file_type, non_security_file_type;
}
########################################
type gnupg2-smime_bin_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
type gnupg2-smime_usr_t, file_type, non_auth_file_type, non_security_file_type;
########################################
