module dbus-launch 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class capability { setgid setuid sys_admin sys_chroot };
    class chr_file { getattr ioctl open read write };
    class dbus { acquire_svc send_msg };
    class dir { add_name create getattr open read remove_name rename rmdir search setattr watch write };
    class fd { use };
    class fifo_file { getattr open read write };
    class file { append associate create entrypoint execute execute_no_trans getattr link lock map open read rename setattr system unlink write };
    class filesystem { associate getattr };
    class lnk_file { create getattr read unlink };
    class netlink_kobject_uevent_socket { bind create getattr setopt };
    class netlink_route_socket { bind create getattr nlmsg_read read write };
    class process { execmem fork getcap getpgid getsched rlimitinh setcap setpgid setrlimit setsched siginh sigkill signal sigstop transition };
    class security { compute_av };
    class shm { create destroy read unix_read unix_write write };
    class sock_file { create getattr setattr unlink write };
    class tcp_socket { connect create getopt name_connect read setopt write };
    class udp_socket { connect create getattr };
    class unix_dgram_socket { connect create write };
    class unix_stream_socket { accept bind connect connectto create getattr getopt listen read setopt shutdown write };
    role user_r;
    type NetworkManager_t;
    type Xorg_t;
    type audio_home_t;
    type bin_t;
    type cache_home_t;
    type cert_t;
    type cgroup_t;
    type config_home_t;
    type data_home_t;
    type dbus-broker_t;
    type dbus-daemon_exec_t;
    type dbus-launch_exec_t;
    type dbus-launch_t;
    type dbus_home_t;
    type dbusd_etc_t;
    type default_context_t;
    type device_t;
    type devicekit_disk_t;
    type devlog_t;
    type devpts_t;
    type devtty_t;
    type dri_device_t;
    type etc_t;
    type fonts_cache_t;
    type fonts_t;
    type fs_t;
    type gconf_home_t;
    type gnome_atspi_exec_t;
    type gpg_agent_exec_t;
    type gpg_secret_t;
    type home_bin_t;
    type home_cert_t;
    type home_root_t;
    type http_port_t;
    type iceauth_exec_t;
    type iceauth_home_t;
    type init_t;
    type init_var_run_t;
    type ld_so_cache_t;
    type ld_so_t;
    type lib_t;
    type locale_t;
    type machineid_t;
    type mount_var_run_t;
    type net_conf_t;
    type null_device_t;
    type passwd_file_t;
    type pkcs11_modules_conf_t;
    type polkitd_t;
    type proc_t;
    type ptmx_t;
    type pulseaudio_home_t;
    type root_t;
    type security_t;
    type shell_exec_t;
    type ssh_agent_exec_t;
    type ssh_home_t;
    type sysctl_fs_t;
    type sysctl_kernel_t;
    type sysctl_t;
    type sysfs_t;
    type syslogd_t;
    type syslogd_var_run_t;
    type system_dbusd_var_lib_t;
    type system_dbusd_var_run_t;
    type systemd_logind_inhibit_var_run_t;
    type systemd_logind_sessions_t;
    type systemd_logind_t;
    type systemd_logind_var_run_t;
    type systemd_resolved_t;
    type systemd_resolved_var_run_t;
    type systemd_userdbd_runtime_t;
    type systemd_userdbd_t;
    type textrel_shlib_t;
    type thumb_exec_t;
    type tmp_t;
    type tmpfs_t;
    type udev_var_run_t;
    type urandom_device_t;
    type user_home_dir_t;
    type user_home_t;
    type user_t;
    type user_tmp_t;
    type user_tty_device_t;
    type usr_t;
    type var_lib_t;
    type var_run_t;
    type var_t;
    type xauth_home_t;
}
########################################
type dbus-launch_t, application_domain_type;
type dbus-launch_exec_t, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
role user_r types dbus-launch_t;
type_transition user_t dbus-launch_exec_t: process dbus-launch_t;
########################################
#============= dbus-launch_t ==============
allow dbus-launch_t NetworkManager_t:dbus send_msg;
allow dbus-launch_t Xorg_t:unix_stream_socket connectto;
allow dbus-launch_t audio_home_t:dir { getattr read search write };
allow dbus-launch_t bin_t:dir { getattr open read search };
allow dbus-launch_t bin_t:file { execute execute_no_trans getattr map open read };
allow dbus-launch_t bin_t:lnk_file { getattr read };
allow dbus-launch_t cache_home_t:lnk_file { getattr read };
allow dbus-launch_t cert_t:dir { getattr open read search };
allow dbus-launch_t cert_t:file { getattr map open read };
allow dbus-launch_t cert_t:lnk_file read;
allow dbus-launch_t cgroup_t:filesystem getattr;
allow dbus-launch_t config_home_t:dir { add_name create getattr open read remove_name rename rmdir search watch write };
allow dbus-launch_t config_home_t:file { append create getattr lock map open read rename setattr unlink write };
allow dbus-launch_t config_home_t:lnk_file { create read unlink };
allow dbus-launch_t data_home_t:dir { getattr open read search watch };
allow dbus-launch_t data_home_t:file { getattr map open read };
allow dbus-launch_t dbus-broker_t:dbus send_msg;
allow dbus-launch_t dbus-broker_t:unix_stream_socket connectto;
allow dbus-launch_t dbus-daemon_exec_t:file { execute execute_no_trans map open read };
allow dbus-launch_t dbus-launch_exec_t:file { entrypoint execute map read };
allow dbus-launch_t dbus_home_t:dir { add_name getattr read search write };
allow dbus-launch_t dbus_home_t:file { create getattr open write };
allow dbus-launch_t dbusd_etc_t:dir { getattr open read search watch };
allow dbus-launch_t dbusd_etc_t:file { getattr open read };
allow dbus-launch_t default_context_t:dir search;
allow dbus-launch_t default_context_t:file { getattr open read };
allow dbus-launch_t device_t:dir { getattr open read search };
allow dbus-launch_t device_t:lnk_file read;
allow dbus-launch_t devicekit_disk_t:dbus send_msg;
allow dbus-launch_t devlog_t:lnk_file read;
allow dbus-launch_t devlog_t:sock_file write;
allow dbus-launch_t devpts_t:chr_file { getattr ioctl open read write };
allow dbus-launch_t devtty_t:chr_file { open read write };
allow dbus-launch_t dri_device_t:chr_file { getattr ioctl open read write };
allow dbus-launch_t etc_t:dir { getattr open read search watch };
allow dbus-launch_t etc_t:file { getattr map open read };
allow dbus-launch_t etc_t:lnk_file { getattr read };
allow dbus-launch_t fonts_cache_t:dir search;
allow dbus-launch_t fonts_cache_t:file { getattr map open read };
allow dbus-launch_t fonts_t:dir { getattr open read search watch };
allow dbus-launch_t fonts_t:file { getattr map open read };
allow dbus-launch_t fs_t:filesystem getattr;
allow dbus-launch_t gconf_home_t:dir { getattr read search write };
allow dbus-launch_t gconf_home_t:file { getattr open read };
allow dbus-launch_t gnome_atspi_exec_t:file { execute execute_no_trans map open read };
allow dbus-launch_t gpg_agent_exec_t:file { execute execute_no_trans getattr map open read };
allow dbus-launch_t gpg_secret_t:dir { getattr read search setattr watch write };
allow dbus-launch_t home_bin_t:dir search;
allow dbus-launch_t home_bin_t:file { execute execute_no_trans getattr open read };
allow dbus-launch_t home_bin_t:lnk_file read;
allow dbus-launch_t home_cert_t:dir { getattr read search write };
allow dbus-launch_t home_cert_t:file { getattr lock open read write };
allow dbus-launch_t home_root_t:dir { getattr read search };
allow dbus-launch_t http_port_t:tcp_socket name_connect;
allow dbus-launch_t iceauth_exec_t:file { execute execute_no_trans map open read };
allow dbus-launch_t iceauth_home_t:file { getattr open read write };
allow dbus-launch_t init_t:dbus send_msg;
allow dbus-launch_t init_t:dir search;
allow dbus-launch_t init_t:file { getattr open read };
allow dbus-launch_t init_t:unix_stream_socket connectto;
allow dbus-launch_t init_var_run_t:dir search;
allow dbus-launch_t ld_so_cache_t:file { getattr map open read };
allow dbus-launch_t ld_so_t:file { execute map open read };
allow dbus-launch_t lib_t:dir { getattr open read search };
allow dbus-launch_t lib_t:file { execute getattr map open read };
allow dbus-launch_t lib_t:lnk_file read;
allow dbus-launch_t locale_t:dir { getattr open read search watch };
allow dbus-launch_t locale_t:file { getattr map open read };
allow dbus-launch_t locale_t:lnk_file { getattr read };
allow dbus-launch_t machineid_t:file { getattr open read };
allow dbus-launch_t mount_var_run_t:dir search;
allow dbus-launch_t net_conf_t:file { getattr open read };
allow dbus-launch_t null_device_t:chr_file { getattr open read write };
allow dbus-launch_t passwd_file_t:file { getattr open read };
allow dbus-launch_t pkcs11_modules_conf_t:dir { getattr open read search };
allow dbus-launch_t polkitd_t:dbus send_msg;
allow dbus-launch_t proc_t:dir { open read search };
allow dbus-launch_t proc_t:file { getattr open read };
allow dbus-launch_t proc_t:filesystem { associate getattr };
allow dbus-launch_t proc_t:lnk_file read;
allow dbus-launch_t ptmx_t:chr_file { ioctl open read write };
allow dbus-launch_t pulseaudio_home_t:dir { getattr read rmdir search write };
allow dbus-launch_t pulseaudio_home_t:file { lock open read };
allow dbus-launch_t root_t:dir { getattr open search };
allow dbus-launch_t security_t:dir { getattr open read search };
allow dbus-launch_t security_t:file { getattr map open read write };
allow dbus-launch_t security_t:filesystem getattr;
allow dbus-launch_t security_t:security compute_av;
allow dbus-launch_t self:capability { setgid setuid sys_admin sys_chroot };
allow dbus-launch_t self:dbus { acquire_svc send_msg };
allow dbus-launch_t self:dir { add_name getattr open read search write };
allow dbus-launch_t self:fifo_file { getattr open read write };
allow dbus-launch_t self:file { create getattr open read write };
allow dbus-launch_t self:lnk_file read;
allow dbus-launch_t self:netlink_kobject_uevent_socket { bind create getattr setopt };
allow dbus-launch_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow dbus-launch_t self:process { execmem fork getcap getpgid getsched setcap setpgid setrlimit setsched sigkill signal };
allow dbus-launch_t self:shm { create destroy read unix_read unix_write write };
allow dbus-launch_t self:tcp_socket { connect create getopt read setopt write };
allow dbus-launch_t self:udp_socket { connect create getattr };
allow dbus-launch_t self:unix_dgram_socket { connect create write };
allow dbus-launch_t self:unix_stream_socket { accept bind connect connectto create getattr getopt listen read setopt shutdown write };
allow dbus-launch_t shell_exec_t:file { execute execute_no_trans getattr map open read };
allow dbus-launch_t ssh_agent_exec_t:file { execute execute_no_trans getattr map open read };
allow dbus-launch_t ssh_home_t:dir { getattr read search write };
allow dbus-launch_t sysctl_fs_t:dir search;
allow dbus-launch_t sysctl_fs_t:file { getattr open read };
allow dbus-launch_t sysctl_kernel_t:dir search;
allow dbus-launch_t sysctl_kernel_t:file { getattr open read };
allow dbus-launch_t sysctl_t:dir search;
allow dbus-launch_t sysfs_t:dir { getattr open read search };
allow dbus-launch_t sysfs_t:file { getattr open read };
allow dbus-launch_t sysfs_t:lnk_file { getattr read };
allow dbus-launch_t syslogd_var_run_t:dir search;
allow dbus-launch_t syslogd_var_run_t:sock_file write;
allow dbus-launch_t system_dbusd_var_lib_t:dir search;
allow dbus-launch_t system_dbusd_var_lib_t:lnk_file read;
allow dbus-launch_t system_dbusd_var_run_t:dir search;
allow dbus-launch_t system_dbusd_var_run_t:sock_file write;
allow dbus-launch_t systemd_logind_inhibit_var_run_t:fifo_file write;
allow dbus-launch_t systemd_logind_sessions_t:dir search;
allow dbus-launch_t systemd_logind_sessions_t:file { getattr open read };
allow dbus-launch_t systemd_logind_t:dbus send_msg;
allow dbus-launch_t systemd_logind_t:fd use;
allow dbus-launch_t systemd_logind_var_run_t:dir search;
allow dbus-launch_t systemd_logind_var_run_t:file { getattr open read };
allow dbus-launch_t systemd_resolved_t:unix_stream_socket connectto;
allow dbus-launch_t systemd_resolved_var_run_t:dir search;
allow dbus-launch_t systemd_resolved_var_run_t:sock_file write;
allow dbus-launch_t systemd_userdbd_runtime_t:dir { getattr open read search };
allow dbus-launch_t systemd_userdbd_runtime_t:lnk_file read;
allow dbus-launch_t systemd_userdbd_runtime_t:sock_file write;
allow dbus-launch_t systemd_userdbd_t:unix_stream_socket connectto;
allow dbus-launch_t textrel_shlib_t:file { execute getattr map open read };
allow dbus-launch_t thumb_exec_t:file { execute execute_no_trans map open read };
allow dbus-launch_t tmp_t:dir { add_name create getattr open read remove_name rmdir search write };
allow dbus-launch_t tmp_t:file { create getattr lock map open read rename unlink write };
allow dbus-launch_t tmp_t:lnk_file { create getattr unlink };
allow dbus-launch_t tmp_t:sock_file { create getattr setattr unlink write };
allow dbus-launch_t tmpfs_t:dir { add_name getattr open read remove_name search write };
allow dbus-launch_t tmpfs_t:file { create getattr map open read unlink write };
allow dbus-launch_t tmpfs_t:filesystem getattr;
allow dbus-launch_t udev_var_run_t:dir search;
allow dbus-launch_t udev_var_run_t:file { getattr open read };
allow dbus-launch_t urandom_device_t:chr_file { getattr open read };
allow dbus-launch_t user_home_dir_t:dir { add_name getattr open read search watch write };
allow dbus-launch_t user_home_dir_t:file { create getattr open read write };
allow dbus-launch_t user_home_t:dir { getattr open read search watch write };
allow dbus-launch_t user_home_t:file { open read write };
allow dbus-launch_t user_t:unix_stream_socket connectto;
allow dbus-launch_t user_tmp_t:dir { add_name create getattr open read remove_name rmdir search setattr watch write };
allow dbus-launch_t user_tmp_t:file { create link open unlink };
allow dbus-launch_t user_tmp_t:sock_file { create getattr setattr unlink write };
allow dbus-launch_t user_tty_device_t:chr_file { getattr read write };
allow dbus-launch_t usr_t:dir { getattr open read search watch };
allow dbus-launch_t usr_t:file { execute execute_no_trans getattr map open read };
allow dbus-launch_t usr_t:lnk_file { getattr read };
allow dbus-launch_t var_lib_t:dir search;
allow dbus-launch_t var_run_t:dir { getattr search };
allow dbus-launch_t var_run_t:lnk_file read;
allow dbus-launch_t var_t:dir search;
allow dbus-launch_t xauth_home_t:file { getattr open read write };
#============= init_t ==============
allow init_t dbus-launch_t:dbus send_msg;
allow init_t dbus-launch_t:dir search;
allow init_t dbus-launch_t:file { getattr open read };
allow init_t dbus-launch_t:process { sigkill signal sigstop };
#============= NetworkManager_t ==============
allow NetworkManager_t dbus-launch_t:dbus send_msg;
allow NetworkManager_t dbus-launch_t:dir search;
allow NetworkManager_t dbus-launch_t:file { getattr open read };
#============= syslogd_t ==============
allow syslogd_t dbus-launch_t:dir search;
allow syslogd_t dbus-launch_t:file { getattr open read };
allow syslogd_t dbus-launch_t:lnk_file read;
#============= systemd_logind_t ==============
allow systemd_logind_t dbus-launch_t:dbus send_msg;
allow systemd_logind_t dbus-launch_t:dir search;
allow systemd_logind_t dbus-launch_t:file { getattr open read };
#============= user_t ==============
allow user_t dbus-launch_t:dir search;
allow user_t dbus-launch_t:file read;
allow user_t dbus-launch_t:lnk_file read;
allow user_t dbus-launch_t:process { rlimitinh siginh signal transition };
