module xcb-util-wm_label 1.0.0;
########################################
require {
    attribute base_file_type, base_ro_file_type, entry_type, exec_type, file_type, mountpoint, non_auth_file_type, non_security_file_type, sepgsql_module_type;
}
########################################
type xcb-util-wm_lib_t, base_file_type, base_ro_file_type, file_type, non_auth_file_type, non_security_file_type, sepgsql_module_type;
type xcb-util-wm_usr_t, base_file_type, base_ro_file_type, entry_type, exec_type, file_type, mountpoint, non_auth_file_type, non_security_file_type;
########################################
