
## <summary>policy for dbus-monitor</summary>

########################################
## <summary>
##	Execute dbus-monitor_exec_t in the dbus-monitor domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`dbus-monitor_domtrans',`
	gen_require(`
		type dbus-monitor_t, dbus-monitor_exec_t;
	')
	hardhat_corecmd_search_bin($1)
	hardhat_domtrans_pattern($1, dbus-monitor_exec_t, dbus-monitor_t)
')
######################################
## <summary>
##	Execute dbus-monitor in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dbus-monitor_exec',`
	gen_require(`
		type dbus-monitor_exec_t;
	')

	hardhat_can_exec($1, dbus-monitor_exec_t)
	hardhat_corecmd_search_bin($1)
')
########################################
## <summary>
##	Execute dbus-monitor in the dbus-monitor domain, and
##	allow the specified role the dbus-monitor domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the dbus-monitor domain.
##	</summary>
## </param>
#
interface(`dbus-monitor_run',`
	gen_require(`
		type dbus-monitor_t;
		attribute_role dbus-monitor_roles;
	')
	dbus-monitor_domtrans($1)
	roleattribute $2 dbus-monitor_roles;
')
########################################
## <summary>
##	Role access for dbus-monitor
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`dbus-monitor_role',`
	gen_require(`
		type dbus-monitor_t;
		attribute_role dbus-monitor_roles;
	')
	allow $2 dbus-monitor_t:process { signull signal sigkill };
	dbus-monitor_domtrans($2)
	hardhat_ps_process_pattern($2, dbus-monitor_t)
	roleattribute $1 dbus-monitor_roles;
')
