module dbusd_selinux 1.0.0;
########################################
require {
    class dbus { acquire_svc };
    type firewalld_t;
    type init_t;
    type NetworkManager_t;
    type policykit_t;
    type systemd_hostnamed_t;
    type systemd_logind_t;
}
########################################
#============= firewalld_t ==============
allow firewalld_t init_t:dbus acquire_svc;
#============= init_t ==============
allow init_t self:dbus acquire_svc;
#============= NetworkManager_t ==============
allow NetworkManager_t init_t:dbus acquire_svc;
#============= policykit_t ==============
allow policykit_t init_t:dbus acquire_svc;
#============= systemd_hostnamed_t ==============
allow systemd_hostnamed_t init_t:dbus acquire_svc;
#============= systemd_logind_t ==============
allow systemd_logind_t init_t:dbus acquire_svc;
