module dbusd_selinux 1.0.0;
########################################
require {
    class dir { write };
    class file { execute execute_no_trans map open read };
    class process { noatsecure rlimitinh siginh };
    class sock_file { write };
    role user_r;
    type config_home_t;
    type gnome_atspi_exec_t;
    type session_dbusd_tmp_t;
    type user_dbusd_t;
    type user_t;
}
########################################
#============= user_dbusd_t ==============
allow user_dbusd_t config_home_t:dir { write };
allow user_dbusd_t gnome_atspi_exec_t:file { execute execute_no_trans map open read };
allow user_dbusd_t user_t:process { noatsecure rlimitinh siginh };
#============= user_t ==============
allow user_t session_dbusd_tmp_t:sock_file write;
