module iceauth_selinux 1.0.0;
########################################
require {
    attribute application_domain_type, application_exec_type, entry_type, exec_type, file_type, non_auth_file_type, non_security_file_type;
    class dir { add_name remove_name write };
    class file { create link unlink };
    class process { rlimitinh siginh signal };
    role user_r;
    type iceauth_t;
    type user_t;
    type user_tmp_t; 
}
#============= iceauth_t ==============
allow iceauth_t user_tmp_t:dir { add_name remove_name write };
allow iceauth_t user_tmp_t:file { create link unlink };
#============= user_t ==============
allow user_t iceauth_t:process { rlimitinh siginh signal };
